## Programming for Analytics_Group 3_Final Project

### Web Scraping for Rotten Tomatoes

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import re
import time

In [ ]:
def step1(url,fileName):
    time.sleep(3)
    myList = []
    scoreList = []
    nameList = []
    
    r = requests.get(url)
    data = r.text
    soup = bs(data, "html.parser")
    scores = soup.findAll('span',{'class':'tMeterScore'})
    for score in scores:
        s = score.getText().strip().split('%')[0]
        scoreList.append(s)
    names = soup.findAll('a',{'class':'unstyled articleLink'})
    for name in names:
        n = name.getText().strip().split('(')[0]
        nameList.append(n)
    
    length = len(scoreList)
    for i in range(0,length-20):
        print(nameList[i+44])
        print(scoreList[i])
        combine=[nameList[i+44], scoreList[i]]
        myList.append(combine)
        
    headings = ['Name', 'Rating']
    df2 = pd.DataFrame(myList, columns=headings)
    df2.to_csv(fileName)

Scraping 2016 Data

In [ ]:
step1("https://www.rottentomatoes.com/top/bestofrt/?year=2016","rotten_2016.csv")

Scraping 2015 Data

In [ ]:
step1("https://www.rottentomatoes.com/top/bestofrt/?year=2015","rotten_2015.csv")

Scraping 2014 Data

In [ ]:
step1("https://www.rottentomatoes.com/top/bestofrt/?year=2014","rotten_2014.csv")

Scraping 2013 Data

In [ ]:
step1("https://www.rottentomatoes.com/top/bestofrt/?year=2013","rotten_2013.csv")

Scraping 2012 Data

In [ ]:
step1("https://www.rottentomatoes.com/top/bestofrt/?year=2012","rotten_2012.csv")

### IMDB Web Scrapping

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import urllib

In [ ]:
def scrape(url,filename):
    moviename=[]
    rating=[]
    movielist=[]
    for i in range(1,21,1):
        url1=url+str(i)
        request=urllib.request.Request(url1)
        response=urllib.request.urlopen(request)
        data=response.read()
        response.close()
    
        soup=bs(data,"html.parser")
        a=soup.findAll("div",{"class": "lister-item mode-advanced"})
    
        for value in a:
            #print (value)
            b=value.find("h3",{"class": "lister-item-header"})
            movie=b.find("a").text.strip()
            moviename.append(movie)
       
        for value in a:
            c=value.find("div",{"class":"inline-block ratings-imdb-rating"})
            try:
                rat=c.find("strong").text.strip()
           
            except:
                rat=0
            rating.append(rat)
    
    movielist=pd.DataFrame({"Movie Name": moviename,'Rating':rating},columns=('Movie Name','Rating'))
    
    #Writing the output to a CSV file
    movielist.to_csv(filename)

Scraping IMDB data for the year 2016

In [ ]:
scrape("http://www.imdb.com/search/title?year=2016,2016&title_type=feature&sort=moviemeter,asc&page=","imdb_2016.csv")

Scraping IMDB data for the year 2015

In [ ]:
scrape("http://www.imdb.com/search/title?year=2015,2015&title_type=feature&sort=moviemeter,asc&page=","imdb_2015.csv")

Scraping IMDB data for the year 2014

In [ ]:
scrape("http://www.imdb.com/search/title?year=2014,2014&title_type=feature&sort=moviemeter,asc&page=","imdb_2014.csv")

Scraping IMDB data for the year 2013

In [ ]:
scrape("http://www.imdb.com/search/title?year=2013,2013&title_type=feature&sort=moviemeter,asc&page=","imdb_2013.csv")

Scraping IMDB data for the year 2012

In [ ]:
scrape("http://www.imdb.com/search/title?year=2012,2012&title_type=feature&sort=moviemeter,asc&page=","imdb_2012.csv")

### SQL Querries to join Web Scrapping Data with Kaggle Data for Training Set (Movies from 2012 to 2014)

We use POSTGRESql on the VMWARE machine to carry out the SQL querries

In [1]:
%load_ext sql

In [ ]:
!createdb -U dbuser prog_proj

In [2]:
%sql postgresql://dbuser@localhost:5432/prog_proj

'Connected: dbuser@prog_proj'

In [3]:
%%sql

DROP TABLE IF EXISTS imdb_2014;

CREATE TABLE imdb_2014(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [ ]:
!pwd

In [4]:
%%sql

COPY imdb_2014 FROM '/home/rithvik/prog/finalproj/imdb_2014.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

1000 rows affected.

[]

In [5]:
%%sql
select * from imdb_2014
LIMIT 10;

10 rows affected.

[(0, 'Guardians of the Galaxy', Decimal('8.1')),
 (1, 'Interstellar', Decimal('8.6')),
 (2, 'The Guest', Decimal('6.7')),
 (3, 'Gone Girl', Decimal('8.1')),
 (4, 'The Imitation Game', Decimal('8.1')),
 (5, 'Whiplash', Decimal('8.5')),
 (6, 'Captain America: The Winter Soldier', Decimal('7.8')),
 (7, 'Kingsman: The Secret Service', Decimal('7.7')),
 (8, 'Edge of Tomorrow', Decimal('7.9')),
 (9, 'Fury', Decimal('7.6'))]

In [6]:
%%sql

DROP TABLE IF EXISTS rotten_2014;

CREATE TABLE rotten_2014(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [7]:
%%sql

COPY rotten_2014 FROM '/home/rithvik/prog/finalproj/rotten_2014.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

100 rows affected.

[]

In [8]:
%%sql 
SELECT * from rotten_2014
LIMIT 10;

10 rows affected.

[(0, 'Boyhood ', Decimal('98')),
 (1, 'The Babadook ', Decimal('98')),
 (2, 'Mr. Turner ', Decimal('98')),
 (3, 'The LEGO Movie ', Decimal('96')),
 (4, 'Whiplash ', Decimal('94')),
 (5, 'Life Itself ', Decimal('97')),
 (6, 'Nightcrawler ', Decimal('95')),
 (7, 'Leviathan ', Decimal('99')),
 (8, 'Gloria ', Decimal('99')),
 (9, 'Snowpiercer ', Decimal('95'))]

In [9]:
%%sql

DROP TABLE IF EXISTS imdb_2013;

CREATE TABLE imdb_2013(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [10]:
%%sql

COPY imdb_2013 FROM '/home/rithvik/prog/finalproj/imdb_2013.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

1000 rows affected.

[]

In [11]:
%%sql

DROP TABLE IF EXISTS rotten_2013;

CREATE TABLE rotten_2013(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [12]:
%%sql

COPY rotten_2013 FROM '/home/rithvik/prog/finalproj/rotten_2013.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

100 rows affected.

[]

In [13]:
%%sql

DROP TABLE IF EXISTS imdb_2012;

CREATE TABLE imdb_2012(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [14]:
%%sql

COPY imdb_2012 FROM '/home/rithvik/prog/finalproj/imdb_2012.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

1000 rows affected.

[]

In [15]:
%%sql

DROP TABLE IF EXISTS rotten_2012;

CREATE TABLE rotten_2012(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [16]:
%%sql

COPY rotten_2012 FROM '/home/rithvik/prog/finalproj/rotten_2012.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

100 rows affected.

[]

Computing the Average rating for the years 2012,2013 & 2014

In [17]:
%%sql

SELECT i.movie_name,i.rating AS "IMDB Rating",r.rating AS "Rotten Tomatoes Rating",cast((((i.rating*10)+r.rating)/2) as Integer) AS "Average rating"
FROM imdb_2014 i JOIN rotten_2014 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name);

34 rows affected.

[('Guardians of the Galaxy', Decimal('8.1'), Decimal('91'), 86),
 ('The Guest', Decimal('6.7'), Decimal('90'), 79),
 ('Gone Girl', Decimal('8.1'), Decimal('88'), 85),
 ('The Imitation Game', Decimal('8.1'), Decimal('90'), 86),
 ('Whiplash', Decimal('8.5'), Decimal('94'), 90),
 ('Captain America: The Winter Soldier', Decimal('7.8'), Decimal('89'), 84),
 ('John Wick', Decimal('7.2'), Decimal('85'), 79),
 ('X-Men: Days of Future Past', Decimal('8.0'), Decimal('91'), 86),
 ('The Grand Budapest Hotel', Decimal('8.1'), Decimal('92'), 87),
 ('Nightcrawler', Decimal('7.9'), Decimal('95'), 87),
 ('The Babadook', Decimal('6.8'), Decimal('98'), 83),
 ('Big Hero 6', Decimal('7.9'), Decimal('89'), 84),
 ('Boyhood', Decimal('7.9'), Decimal('98'), 89),
 ('Chef', Decimal('7.3'), Decimal('86'), 80),
 ('How to Train Your Dragon 2', Decimal('7.9'), Decimal('92'), 86),
 ('22 Jump Street', Decimal('7.1'), Decimal('84'), 78),
 ('Wild', Decimal('7.1'), Decimal('90'), 81),
 ('The Drop', Decimal('7.1'), Decimal('89'), 80),
 ('Foxcatcher', Decimal('7.0'), Decimal('88'), 79),
 ('Pride', Decimal('7.8'), Decimal('92'), 85),
 ('A Most Wanted Man', Decimal('6.8'), Decimal('87'), 78),
 ('A Girl Walks Home Alone at Night', Decimal('7.0'), Decimal('95'), 83),
 ('Cold in July', Decimal('6.8'), Decimal('86'), 77),
 ('Frank', Decimal('7.0'), Decimal('91'), 81),
 ('Calvary', Decimal('7.4'), Decimal('89'), 82),
 ('Top Five', Decimal('6.5'), Decimal('86'), 76),
 ('Leviathan', Decimal('7.6'), Decimal('99'), 88),
 ('The Skeleton Twins', Decimal('6.8'), Decimal('86'), 77),
 ('Dear White People', Decimal('6.3'), Decimal('91'), 77),
 ('The Good Lie', Decimal('7.4'), Decimal('88'), 81),
 ('Mr. Turner', Decimal('6.8'), Decimal('98'), 83),
 ('Obvious Child', Decimal('6.8'), Decimal('89'), 79),
 ('Love Is Strange', Decimal('6.7'), Decimal('95'), 81),
 ('Gloria', Decimal('6.5'), Decimal('99'), 82)]

In [18]:
%%sql

SELECT i.movie_name,i.rating AS "IMDB Rating",r.rating AS "Rotten Tomatoes Rating",cast((((i.rating*10)+r.rating)/2) as Integer) AS "Average rating"
FROM imdb_2013 i JOIN rotten_2013 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name);

37 rows affected.

[('The Wolf of Wall Street', Decimal('8.2'), Decimal('77'), 80),
 ('Prisoners', Decimal('8.1'), Decimal('81'), 81),
 ('12 Years a Slave', Decimal('8.1'), Decimal('96'), 89),
 ('Star Trek Into Darkness', Decimal('7.8'), Decimal('86'), 82),
 ('Frozen', Decimal('7.6'), Decimal('89'), 83),
 ('The Conjuring', Decimal('7.5'), Decimal('86'), 81),
 ('Her', Decimal('8.0'), Decimal('95'), 88),
 ('American Hustle', Decimal('7.3'), Decimal('93'), 83),
 ('This Is the End', Decimal('6.7'), Decimal('83'), 75),
 ('Rush', Decimal('8.1'), Decimal('89'), 85),
 ('The Hunger Games: Catching Fire', Decimal('7.6'), Decimal('89'), 83),
 ('Dallas Buyers Club', Decimal('8.0'), Decimal('94'), 87),
 ('Warm Bodies', Decimal('6.9'), Decimal('80'), 75),
 ('Gravity', Decimal('7.8'), Decimal('96'), 87),
 ("The World's End", Decimal('7.0'), Decimal('89'), 80),
 ('The Spectacular Now', Decimal('7.1'), Decimal('93'), 82),
 ('Don Jon', Decimal('6.6'), Decimal('81'), 74),
 ('Captain Phillips', Decimal('7.9'), Decimal('93'), 86),
 ('The Way Way Back', Decimal('7.4'), Decimal('85'), 80),
 ('Saving Mr. Banks', Decimal('7.5'), Decimal('78'), 77),
 ('Inside Llewyn Davis', Decimal('7.4'), Decimal('94'), 84),
 ('Blue Jasmine', Decimal('7.3'), Decimal('91'), 82),
 ('Short Term 12', Decimal('8.0'), Decimal('99'), 90),
 ('Side Effects', Decimal('7.1'), Decimal('83'), 77),
 ('Before Midnight', Decimal('7.9'), Decimal('98'), 89),
 ('Upstream Color', Decimal('6.8'), Decimal('85'), 77),
 ('Nebraska', Decimal('7.7'), Decimal('91'), 84),
 ('Fruitvale Station', Decimal('7.5'), Decimal('94'), 85),
 ('All Is Lost', Decimal('6.9'), Decimal('94'), 82),
 ('Drinking Buddies', Decimal('6.1'), Decimal('83'), 72),
 ('Philomena', Decimal('7.6'), Decimal('92'), 84),
 ('We Are What We Are', Decimal('5.8'), Decimal('86'), 72),
 ('Enough Said', Decimal('7.1'), Decimal('96'), 84),
 ('Le passé', Decimal('7.9'), Decimal('93'), 86),
 ('The Selfish Giant', Decimal('7.3'), Decimal('97'), 85),
 ('In a World...', Decimal('6.7'), Decimal('92'), 80),
 ('Computer Chess', Decimal('6.3'), Decimal('87'), 75)]

In [19]:
%%sql

SELECT i.movie_name,i.rating AS "IMDB Rating",r.rating AS "Rotten Tomatoes Rating",cast((((i.rating*10)+r.rating)/2) as Integer) AS "Average rating"
FROM imdb_2012 i JOIN rotten_2012 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name);

41 rows affected.

[('The Hunger Games', Decimal('7.3'), Decimal('84'), 79),
 ('The Dark Knight Rises', Decimal('8.5'), Decimal('87'), 86),
 ('Django Unchained', Decimal('8.4'), Decimal('88'), 86),
 ('The Perks of Being a Wallflower', Decimal('8.0'), Decimal('86'), 83),
 ('Moonrise Kingdom', Decimal('7.8'), Decimal('94'), 86),
 ('Pitch Perfect', Decimal('7.2'), Decimal('80'), 76),
 ('Silver Linings Playbook', Decimal('7.8'), Decimal('92'), 85),
 ('Skyfall', Decimal('7.8'), Decimal('93'), 86),
 ('Looper', Decimal('7.4'), Decimal('93'), 84),
 ('Magic Mike', Decimal('6.1'), Decimal('80'), 71),
 ('Argo', Decimal('7.7'), Decimal('96'), 87),
 ('Flight', Decimal('7.3'), Decimal('78'), 76),
 ('Lincoln', Decimal('7.4'), Decimal('90'), 82),
 ('The Cabin in the Woods', Decimal('7.0'), Decimal('92'), 81),
 ('21 Jump Street', Decimal('7.2'), Decimal('85'), 79),
 ('Life of Pi', Decimal('8.0'), Decimal('87'), 84),
 ('The Impossible', Decimal('7.6'), Decimal('81'), 79),
 ('End of Watch', Decimal('7.7'), Decimal('85'), 81),
 ('The Master', Decimal('7.1'), Decimal('86'), 79),
 ('Seven Psychopaths', Decimal('7.2'), Decimal('82'), 77),
 ('Brave', Decimal('7.2'), Decimal('78'), 75),
 ('Chronicle', Decimal('7.1'), Decimal('85'), 78),
 ('ParaNorman', Decimal('7.0'), Decimal('87'), 79),
 ('A Royal Affair', Decimal('7.6'), Decimal('89'), 83),
 ('Amour', Decimal('7.9'), Decimal('93'), 86),
 ('The Pirates! Band of Misfits', Decimal('6.7'), Decimal('86'), 77),
 ('Safety Not Guaranteed', Decimal('7.0'), Decimal('90'), 80),
 ('Frankenweenie', Decimal('7.0'), Decimal('87'), 79),
 ('Beasts of the Southern Wild', Decimal('7.3'), Decimal('86'), 80),
 ('Holy Motors', Decimal('7.1'), Decimal('91'), 81),
 ('Arbitrage', Decimal('6.6'), Decimal('86'), 76),
 ('The Sessions', Decimal('7.2'), Decimal('93'), 83),
 ('Starlet', Decimal('6.8'), Decimal('88'), 78),
 ('Robot & Frank', Decimal('7.1'), Decimal('86'), 79),
 ('Compliance', Decimal('6.4'), Decimal('89'), 77),
 ('Smashed', Decimal('6.8'), Decimal('84'), 76),
 ('Barbara', Decimal('7.2'), Decimal('93'), 83),
 ('Farewell, My Queen', Decimal('6.3'), Decimal('92'), 78),
 ('Middle of Nowhere', Decimal('6.5'), Decimal('87'), 76),
 ('Keep the Lights On', Decimal('6.3'), Decimal('90'), 77),
 ('Tabu', Decimal('7.4'), Decimal('87'), 81)]

Now we are combining the average rating tables for movies from  2012 to 2014 into a single file and writing it into a file named agg_data.csv

In [20]:
%%sql

COPY (
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2014 i JOIN rotten_2014 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)
UNION
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2013 i JOIN rotten_2013 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)
UNION
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2012 i JOIN rotten_2012 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)) TO '/home/rithvik/prog/finalproj/agg_data.csv' CSV HEADER

112 rows affected.

[]

We are also creating a SQL table to store the average rating values of the top movies of these years

In [21]:
%%sql
DROP TABLE IF EXISTS avg_ratings;
CREATE TABLE avg_ratings as
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2014 i JOIN rotten_2014 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)
UNION
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2013 i JOIN rotten_2013 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)
UNION
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2012 i JOIN rotten_2012 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)

Done.
112 rows affected.

[]

In [22]:
%%sql
SELECT * from avg_ratings;

112 rows affected.

[('How to Train Your Dragon 2', Decimal('7.9'), Decimal('92'), 86),
 ('Dallas Buyers Club', Decimal('8.0'), Decimal('94'), 87),
 ('Gloria', Decimal('6.5'), Decimal('99'), 82),
 ('Starlet', Decimal('6.8'), Decimal('88'), 78),
 ('The Conjuring', Decimal('7.5'), Decimal('86'), 81),
 ('Life of Pi', Decimal('8.0'), Decimal('87'), 84),
 ('Looper', Decimal('7.4'), Decimal('93'), 84),
 ('Argo', Decimal('7.7'), Decimal('96'), 87),
 ('Blue Jasmine', Decimal('7.3'), Decimal('91'), 82),
 ('Computer Chess', Decimal('6.3'), Decimal('87'), 75),
 ('In a World...', Decimal('6.7'), Decimal('92'), 80),
 ('Arbitrage', Decimal('6.6'), Decimal('86'), 76),
 ('A Royal Affair', Decimal('7.6'), Decimal('89'), 83),
 ('Nebraska', Decimal('7.7'), Decimal('91'), 84),
 ('This Is the End', Decimal('6.7'), Decimal('83'), 75),
 ('Safety Not Guaranteed', Decimal('7.0'), Decimal('90'), 80),
 ('The Grand Budapest Hotel', Decimal('8.1'), Decimal('92'), 87),
 ('Smashed', Decimal('6.8'), Decimal('84'), 76),
 ('Tabu', Decimal('7.4'), Decimal('87'), 81),
 ('The Hunger Games', Decimal('7.3'), Decimal('84'), 79),
 ('Gravity', Decimal('7.8'), Decimal('96'), 87),
 ('The Pirates! Band of Misfits', Decimal('6.7'), Decimal('86'), 77),
 ('Side Effects', Decimal('7.1'), Decimal('83'), 77),
 ('John Wick', Decimal('7.2'), Decimal('85'), 79),
 ('Short Term 12', Decimal('8.0'), Decimal('99'), 90),
 ('Brave', Decimal('7.2'), Decimal('78'), 75),
 ('Le passé', Decimal('7.9'), Decimal('93'), 86),
 ('A Girl Walks Home Alone at Night', Decimal('7.0'), Decimal('95'), 83),
 ('Captain Phillips', Decimal('7.9'), Decimal('93'), 86),
 ('End of Watch', Decimal('7.7'), Decimal('85'), 81),
 ('Magic Mike', Decimal('6.1'), Decimal('80'), 71),
 ('12 Years a Slave', Decimal('8.1'), Decimal('96'), 89),
 ('Big Hero 6', Decimal('7.9'), Decimal('89'), 84),
 ('Don Jon', Decimal('6.6'), Decimal('81'), 74),
 ('The Drop', Decimal('7.1'), Decimal('89'), 80),
 ('Love Is Strange', Decimal('6.7'), Decimal('95'), 81),
 ('The Dark Knight Rises', Decimal('8.5'), Decimal('87'), 86),
 ('Upstream Color', Decimal('6.8'), Decimal('85'), 77),
 ('Fruitvale Station', Decimal('7.5'), Decimal('94'), 85),
 ('ParaNorman', Decimal('7.0'), Decimal('87'), 79),
 ('Prisoners', Decimal('8.1'), Decimal('81'), 81),
 ('Her', Decimal('8.0'), Decimal('95'), 88),
 ('Philomena', Decimal('7.6'), Decimal('92'), 84),
 ('The Selfish Giant', Decimal('7.3'), Decimal('97'), 85),
 ('Barbara', Decimal('7.2'), Decimal('93'), 83),
 ('The Perks of Being a Wallflower', Decimal('8.0'), Decimal('86'), 83),
 ('Flight', Decimal('7.3'), Decimal('78'), 76),
 ('Boyhood', Decimal('7.9'), Decimal('98'), 89),
 ('Drinking Buddies', Decimal('6.1'), Decimal('83'), 72),
 ("The World's End", Decimal('7.0'), Decimal('89'), 80),
 ('Nightcrawler', Decimal('7.9'), Decimal('95'), 87),
 ('Obvious Child', Decimal('6.8'), Decimal('89'), 79),
 ('Guardians of the Galaxy', Decimal('8.1'), Decimal('91'), 86),
 ('The Master', Decimal('7.1'), Decimal('86'), 79),
 ('The Good Lie', Decimal('7.4'), Decimal('88'), 81),
 ('The Babadook', Decimal('6.8'), Decimal('98'), 83),
 ('Wild', Decimal('7.1'), Decimal('90'), 81),
 ('The Spectacular Now', Decimal('7.1'), Decimal('93'), 82),
 ('Seven Psychopaths', Decimal('7.2'), Decimal('82'), 77),
 ('Gone Girl', Decimal('8.1'), Decimal('88'), 85),
 ('The Skeleton Twins', Decimal('6.8'), Decimal('86'), 77),
 ('Middle of Nowhere', Decimal('6.5'), Decimal('87'), 76),
 ('22 Jump Street', Decimal('7.1'), Decimal('84'), 78),
 ('Pitch Perfect', Decimal('7.2'), Decimal('80'), 76),
 ('21 Jump Street', Decimal('7.2'), Decimal('85'), 79),
 ('Warm Bodies', Decimal('6.9'), Decimal('80'), 75),
 ('Before Midnight', Decimal('7.9'), Decimal('98'), 89),
 ('Farewell, My Queen', Decimal('6.3'), Decimal('92'), 78),
 ('Inside Llewyn Davis', Decimal('7.4'), Decimal('94'), 84),
 ('We Are What We Are', Decimal('5.8'), Decimal('86'), 72),
 ('American Hustle', Decimal('7.3'), Decimal('93'), 83),
 ('Compliance', Decimal('6.4'), Decimal('89'), 77),
 ('Frozen', Decimal('7.6'), Decimal('89'), 83),
 ('Leviathan', Decimal('7.6'), Decimal('99'), 88),
 ('Moonrise Kingdom', Decimal('7.8'), Decimal('94'), 86),
 ('Cold in July', Decimal('6.8'), Decimal('86'), 77),
 ('Mr. Turner', Decimal('6.8'), Decimal('98'), 83),
 ('Whiplash', Decimal('8.5'), Decimal('94'), 90),
 ('X-Men: Days of Future Past', Decimal('8.0'), Decimal('91'), 86),
 ('Frank', Decimal('7.0'), Decimal('91'), 81),
 ('Beasts of the Southern Wild', Decimal('7.3'), Decimal('86'), 80),
 ('The Guest', Decimal('6.7'), Decimal('90'), 79),
 ('Top Five', Decimal('6.5'), Decimal('86'), 76),
 ('Rush', Decimal('8.1'), Decimal('89'), 85),
 ('Silver Linings Playbook', Decimal('7.8'), Decimal('92'), 85),
 ('The Cabin in the Woods', Decimal('7.0'), Decimal('92'), 81),
 ('Dear White People', Decimal('6.3'), Decimal('91'), 77),
 ('The Wolf of Wall Street', Decimal('8.2'), Decimal('77'), 80),
 ('Skyfall', Decimal('7.8'), Decimal('93'), 86),
 ('Lincoln', Decimal('7.4'), Decimal('90'), 82),
 ('A Most Wanted Man', Decimal('6.8'), Decimal('87'), 78),
 ('The Imitation Game', Decimal('8.1'), Decimal('90'), 86),
 ('Chronicle', Decimal('7.1'), Decimal('85'), 78),
 ('The Sessions', Decimal('7.2'), Decimal('93'), 83),
 ('Pride', Decimal('7.8'), Decimal('92'), 85),
 ('The Hunger Games: Catching Fire', Decimal('7.6'), Decimal('89'), 83),
 ('Foxcatcher', Decimal('7.0'), Decimal('88'), 79),
 ('Star Trek Into Darkness', Decimal('7.8'), Decimal('86'), 82),
 ('Robot & Frank', Decimal('7.1'), Decimal('86'), 79),
 ('Captain America: The Winter Soldier', Decimal('7.8'), Decimal('89'), 84),
 ('Calvary', Decimal('7.4'), Decimal('89'), 82),
 ('Django Unchained', Decimal('8.4'), Decimal('88'), 86),
 ('All Is Lost', Decimal('6.9'), Decimal('94'), 82),
 ('Amour', Decimal('7.9'), Decimal('93'), 86),
 ('Frankenweenie', Decimal('7.0'), Decimal('87'), 79),
 ('Chef', Decimal('7.3'), Decimal('86'), 80),
 ('The Way Way Back', Decimal('7.4'), Decimal('85'), 80),
 ('Enough Said', Decimal('7.1'), Decimal('96'), 84),
 ('Keep the Lights On', Decimal('6.3'), Decimal('90'), 77),
 ('Saving Mr. Banks', Decimal('7.5'), Decimal('78'), 77),
 ('Holy Motors', Decimal('7.1'), Decimal('91'), 81),
 ('The Impossible', Decimal('7.6'), Decimal('81'), 79)]

Now importing the kaggle dataset to join with the avg_ratings table to find the budget, gross,duration and facebook likes of the movies.

In [23]:
%%sql

DROP TABLE IF EXISTS kaggle_data;
CREATE TABLE kaggle_data( 
duration NUMERIC,
gross NUMERIC,
movie_title VARCHAR(200),
budget NUMERIC,
facebook_likes NUMERIC)

Done.
Done.

[]

In [24]:
%%sql

COPY kaggle_data FROM '/home/rithvik/prog/finalproj/kaggle movie.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

5043 rows affected.

[]

Now checking whether all the rows are pulled into the kaggle_data table

In [25]:
%%sql

SELECT COUNT(*) FROM kaggle_data;

1 rows affected.

[(5043,)]

Now join our average rating trainning set with the kaggle data set

In [26]:
%%sql

SELECT  DISTINCT movie_name,duration,gross,budget,facebook_likes,average_rating 
FROM avg_ratings a LEFT JOIN kaggle_data k ON 
TRIM(a.movie_name)=TRIM(k.movie_title)

112 rows affected.

[('The Impossible', Decimal('114'), Decimal('18996755'), Decimal('45000000'), Decimal('54000'), 79),
 ('The Babadook', None, None, None, None, 83),
 ('Calvary', None, None, None, None, 82),
 ('The Pirates! Band of Misfits', Decimal('88'), Decimal('31051126'), Decimal('55000000'), Decimal('0'), 77),
 ('Tabu', None, None, None, None, 81),
 ('Chronicle', Decimal('89'), Decimal('64572496'), Decimal('12000000'), Decimal('32000'), 78),
 ('Inside Llewyn Davis', Decimal('104'), Decimal('13214255'), Decimal('11000000'), Decimal('26000'), 84),
 ('Big Hero 6', Decimal('102'), Decimal('222487711'), Decimal('165000000'), Decimal('41000'), 84),
 ('Captain Phillips', Decimal('134'), Decimal('107100855'), Decimal('55000000'), Decimal('65000'), 86),
 ('The Grand Budapest Hotel', Decimal('99'), Decimal('59073773'), Decimal('25000000'), Decimal('149000'), 87),
 ('Moonrise Kingdom', Decimal('94'), Decimal('45507053'), Decimal('16000000'), Decimal('71000'), 86),
 ('Gloria', None, None, None, None, 82),
 ('The Wolf of Wall Street', Decimal('240'), Decimal('116866727'), Decimal('100000000'), Decimal('138000'), 80),
 ('Warm Bodies', Decimal('98'), Decimal('66359959'), Decimal('35000000'), Decimal('81000'), 75),
 ('12 Years a Slave', Decimal('134'), Decimal('56667870'), Decimal('20000000'), Decimal('83000'), 89),
 ('Mr. Turner', Decimal('150'), Decimal('3958500'), Decimal('8200000'), Decimal('0'), 83),
 ('Blue Jasmine', Decimal('98'), Decimal('33404871'), Decimal('18000000'), Decimal('36000'), 82),
 ('Pitch Perfect', Decimal('112'), Decimal('64998368'), Decimal('17000000'), Decimal('36000'), 76),
 ('Don Jon', Decimal('90'), Decimal('24475193'), Decimal('3000000'), Decimal('33000'), 74),
 ('Le passé', None, None, None, None, 86),
 ('The Master', Decimal('144'), Decimal('16377274'), Decimal('32000000'), Decimal('27000'), 79),
 ('Argo', Decimal('130'), Decimal('136019448'), Decimal('44500000'), Decimal('89000'), 87),
 ('Silver Linings Playbook', Decimal('122'), Decimal('132088910'), Decimal('21000000'), Decimal('117000'), 85),
 ('A Girl Walks Home Alone at Night', None, None, None, None, 83),
 ('Brave', Decimal('93'), Decimal('237282182'), Decimal('185000000'), Decimal('39000'), 75),
 ("The World's End", Decimal('109'), Decimal('26003149'), Decimal('20000000'), Decimal('49000'), 80),
 ('Starlet', None, None, None, None, 78),
 ('Django Unchained', Decimal('165'), Decimal('162804648'), Decimal('100000000'), Decimal('199000'), 86),
 ('Cold in July', None, None, None, None, 77),
 ('Gravity', Decimal('91'), Decimal('274084951'), Decimal('100000000'), Decimal('147000'), 87),
 ('21 Jump Street', Decimal('109'), Decimal('138447667'), Decimal('42000000'), Decimal('39000'), 79),
 ('Philomena', Decimal('98'), Decimal('37707719'), Decimal('12000000'), Decimal('37000'), 84),
 ('Gone Girl', Decimal('149'), Decimal('167735396'), Decimal('61000000'), Decimal('146000'), 85),
 ('Saving Mr. Banks', Decimal('125'), Decimal('83299761'), Decimal('35000000'), Decimal('39000'), 77),
 ('Amour', Decimal('127'), Decimal('225377'), Decimal('8900000'), Decimal('33000'), 86),
 ('Boyhood', Decimal('165'), Decimal('25359200'), Decimal('4000000'), Decimal('92000'), 89),
 ('Prisoners', Decimal('153'), Decimal('60962878'), Decimal('46000000'), Decimal('86000'), 81),
 ('Foxcatcher', None, None, None, None, 79),
 ('Safety Not Guaranteed', Decimal('86'), Decimal('4007792'), Decimal('750000'), Decimal('31000'), 80),
 ('Guardians of the Galaxy', Decimal('121'), Decimal('333130696'), Decimal('170000000'), Decimal('96000'), 86),
 ('A Royal Affair', None, None, None, None, 83),
 ('All Is Lost', Decimal('106'), Decimal('6262942'), Decimal('9000000'), Decimal('18000'), 82),
 ('The Good Lie', None, None, None, None, 81),
 ('Before Midnight', Decimal('109'), Decimal('8114507'), Decimal('3000000'), Decimal('62000'), 89),
 ('The Perks of Being a Wallflower', Decimal('102'), Decimal('17738570'), Decimal('13000000'), Decimal('131000'), 83),
 ('Compliance', Decimal('90'), Decimal('318622'), Decimal('270000'), Decimal('0'), 77),
 ('The Hunger Games: Catching Fire', Decimal('146'), Decimal('424645577'), Decimal('130000000'), Decimal('82000'), 83),
 ('Looper', Decimal('119'), Decimal('66468315'), Decimal('30000000'), Decimal('75000'), 84),
 ('The Spectacular Now', Decimal('95'), Decimal('6851969'), Decimal('2500000'), Decimal('10000'), 82),
 ('X-Men: Days of Future Past', Decimal('149'), Decimal('233914986'), Decimal('200000000'), Decimal('82000'), 86),
 ('How to Train Your Dragon 2', Decimal('102'), Decimal('176997107'), Decimal('145000000'), Decimal('46000'), 86),
 ('Leviathan', None, None, None, None, 88),
 ('The Selfish Giant', None, None, None, None, 85),
 ('The Way Way Back', Decimal('103'), Decimal('21501098'), Decimal('5000000'), Decimal('22000'), 80),
 ('The Guest', None, None, None, None, 79),
 ('Rush', Decimal('123'), Decimal('26903709'), Decimal('38000000'), Decimal('83000'), 85),
 ('Dallas Buyers Club', Decimal('117'), Decimal('27296514'), Decimal('5000000'), Decimal('65000'), 87),
 ('Frank', None, None, None, None, 81),
 ('Beasts of the Southern Wild', Decimal('93'), Decimal('12784397'), Decimal('1800000'), Decimal('31000'), 80),
 ('Frankenweenie', Decimal('87'), Decimal('35287788'), Decimal('39000000'), Decimal('25000'), 79),
 ('Flight', Decimal('138'), Decimal('93749203'), Decimal('31000000'), Decimal('64000'), 76),
 ('American Hustle', Decimal('138'), Decimal('150117807'), Decimal('40000000'), Decimal('63000'), 83),
 ('Drinking Buddies', Decimal('90'), Decimal('342936'), None, Decimal('0'), 72),
 ('Captain America: The Winter Soldier', Decimal('136'), Decimal('259746958'), Decimal('170000000'), Decimal('55000'), 84),
 ('Top Five', Decimal('102'), Decimal('25277561'), Decimal('12000000'), Decimal('0'), 76),
 ('Nebraska', Decimal('115'), Decimal('17613460'), Decimal('12000000'), Decimal('28000'), 84),
 ('In a World...', None, None, None, None, 80),
 ('Chef', None, None, None, None, 80),
 ('Keep the Lights On', None, None, None, None, 77),
 ('Smashed', None, None, None, None, 76),
 ('The Cabin in the Woods', Decimal('95'), Decimal('42043633'), Decimal('30000000'), Decimal('66000'), 81),
 ('Love Is Strange', None, None, None, None, 81),
 ('Side Effects', Decimal('106'), Decimal('32154410'), Decimal('30000000'), Decimal('29000'), 77),
 ('The Imitation Game', Decimal('114'), Decimal('91121452'), Decimal('14000000'), Decimal('165000'), 86),
 ('The Sessions', Decimal('95'), Decimal('5997134'), Decimal('1000000'), Decimal('11000'), 83),
 ('Computer Chess', None, None, None, None, 75),
 ('Short Term 12', None, None, None, None, 90),
 ('Frozen', Decimal('102'), Decimal('400736600'), Decimal('150000000'), Decimal('58000'), 83),
 ('John Wick', None, None, None, None, 79),
 ('This Is the End', Decimal('107'), Decimal('101470202'), Decimal('32000000'), Decimal('97000'), 75),
 ('Life of Pi', Decimal('127'), Decimal('124976634'), Decimal('120000000'), Decimal('122000'), 84),
 ('Barbara', None, None, None, None, 83),
 ('Pride', None, None, None, None, 85),
 ('Farewell, My Queen', None, None, None, None, 78),
 ('Robot & Frank', Decimal('89'), Decimal('3325638'), Decimal('2500000'), Decimal('13000'), 79),
 ('Arbitrage', Decimal('107'), Decimal('7918283'), Decimal('12000000'), Decimal('0'), 76),
 ('Fruitvale Station', Decimal('85'), Decimal('16097842'), Decimal('900000'), Decimal('17000'), 85),
 ('Dear White People', None, None, None, None, 77),
 ('A Most Wanted Man', Decimal('122'), Decimal('17237244'), Decimal('15000000'), Decimal('13000'), 78),
 ('Star Trek Into Darkness', Decimal('132'), Decimal('228756232'), Decimal('190000000'), Decimal('92000'), 82),
 ('We Are What We Are', None, None, None, None, 72),
 ('Enough Said', Decimal('93'), Decimal('17536788'), Decimal('8000000'), Decimal('12000'), 84),
 ('Her', Decimal('126'), Decimal('25556065'), Decimal('23000000'), Decimal('148000'), 88),
 ('Nightcrawler', Decimal('117'), Decimal('32279955'), Decimal('8500000'), Decimal('65000'), 87),
 ('Seven Psychopaths', Decimal('110'), Decimal('14989761'), Decimal('15000000'), Decimal('52000'), 77),
 ('Wild', Decimal('115'), Decimal('37877959'), Decimal('15000000'), Decimal('38000'), 81),
 ('The Conjuring', Decimal('112'), Decimal('137387272'), Decimal('20000000'), Decimal('131000'), 81),
 ('Obvious Child', Decimal('84'), Decimal('3122616'), None, Decimal('0'), 79),
 ('Skyfall', Decimal('143'), Decimal('304360277'), Decimal('200000000'), Decimal('80000'), 86),
 ('22 Jump Street', Decimal('112'), Decimal('191616238'), Decimal('50000000'), Decimal('24000'), 78),
 ('The Drop', None, None, None, None, 80),
 ('The Dark Knight Rises', Decimal('164'), Decimal('448130642'), Decimal('250000000'), Decimal('164000'), 86),
 ('End of Watch', Decimal('109'), Decimal('40983001'), Decimal('7000000'), Decimal('38000'), 81),
 ('Magic Mike', Decimal('110'), Decimal('113709992'), Decimal('7000000'), Decimal('54000'), 71),
 ('Middle of Nowhere', Decimal('97'), Decimal('78030'), Decimal('200000'), Decimal('569'), 76),
 ('Whiplash', Decimal('107'), Decimal('13092000'), Decimal('3300000'), Decimal('129000'), 90),
 ('The Hunger Games', Decimal('142'), Decimal('407999255'), Decimal('78000000'), Decimal('140000'), 79),
 ('ParaNorman', Decimal('92'), Decimal('55994557'), Decimal('60000000'), Decimal('12000'), 79),
 ('Lincoln', Decimal('150'), Decimal('182204440'), Decimal('65000000'), Decimal('71000'), 82),
 ('Upstream Color', None, None, None, None, 77),
 ('Holy Motors', Decimal('115'), None, None, Decimal('12000'), 81),
 ('The Skeleton Twins', Decimal('93'), Decimal('5283379'), None, Decimal('0'), 77)]

We see some missing data for the movies which we are interested. So we find the data online for the missing movies and reload it into the table

In [27]:
%%sql
DROP TABLE IF EXISTS final_train;
CREATE TABLE final_train(
movie_name VARCHAR (200),
duration NUMERIC,
gross NUMERIC,
budget NUMERIC,
facebook_likes NUMERIC,
average_rating NUMERIC);

Done.
Done.

[]

In [28]:
%%sql

COPY final_train FROM '/home/rithvik/prog/finalproj/final_train.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

118 rows affected.

[]

### SQL Querries to join Web Scrapping Data with Kaggle Data for Validation Set (Movies in 2015)

In [29]:
%%sql

DROP TABLE IF EXISTS imdb_2015;

CREATE TABLE imdb_2015(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [30]:
%%sql

COPY imdb_2015 FROM '/home/rithvik/prog/finalproj/imdb_2015.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

1000 rows affected.

[]

In [31]:
%%sql

SELECT * FROM imdb_2015
LIMIT 10;

10 rows affected.

[(0, 'Solace', Decimal('6.4')),
 (1, 'Man Down', Decimal('6.4')),
 (2, 'Star Wars: The Force Awakens', Decimal('8.2')),
 (3, 'The Revenant', Decimal('8.0')),
 (4, 'The Hateful Eight', Decimal('7.9')),
 (5, 'The Big Short', Decimal('7.8')),
 (6, 'Joy', Decimal('6.6')),
 (7, 'Sicario', Decimal('7.6')),
 (8, 'Mad Max: Fury Road', Decimal('8.1')),
 (9, 'The Martian', Decimal('8.0'))]

In [32]:
%%sql

DROP TABLE IF EXISTS rotten_2015;

CREATE TABLE rotten_2015(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [33]:
%%sql
COPY rotten_2015 FROM '/home/rithvik/prog/finalproj/rotten_2015.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

100 rows affected.

[]

In [34]:
%%sql

SELECT * from rotten_2015
LIMIT 10;

10 rows affected.

[(0, 'Mad Max: Fury Road ', Decimal('97')),
 (1, 'Inside Out ', Decimal('98')),
 (2, 'Selma ', Decimal('99')),
 (3, 'Spotlight ', Decimal('96')),
 (4, 'Star Wars: Episode VII - The Force Awakens ', Decimal('92')),
 (5, 'Brooklyn ', Decimal('97')),
 (6, 'It Follows ', Decimal('97')),
 (7, 'Shaun the Sheep Movie ', Decimal('99')),
 (8, 'The Martian ', Decimal('92')),
 (9, 'Room ', Decimal('94'))]

In [35]:
%%sql

SELECT i.movie_name,i.rating AS "IMDB Rating",r.rating AS "Rotten Tomatoes Rating",cast((((i.rating*10)+r.rating)/2) as Integer) AS "Average rating"
FROM imdb_2015 i JOIN rotten_2015 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name);

38 rows affected.

[('45 Years', Decimal('7.1'), Decimal('97'), 84),
 ('Anomalisa', Decimal('7.3'), Decimal('92'), 83),
 ('Ant-Man', Decimal('7.4'), Decimal('81'), 78),
 ('Beasts of No Nation', Decimal('7.8'), Decimal('92'), 85),
 ('Bone Tomahawk', Decimal('7.1'), Decimal('90'), 81),
 ('Bridge of Spies', Decimal('7.6'), Decimal('91'), 84),
 ('Brooklyn', Decimal('7.5'), Decimal('97'), 86),
 ('Carol', Decimal('7.2'), Decimal('94'), 83),
 ('Creed', Decimal('7.7'), Decimal('94'), 86),
 ('Dope', Decimal('7.3'), Decimal('89'), 81),
 ('Ex Machina', Decimal('7.7'), Decimal('93'), 85),
 ('Grandma', Decimal('6.7'), Decimal('92'), 80),
 ("I'll See You in My Dreams", Decimal('6.7'), Decimal('93'), 80),
 ('Inside Out', Decimal('8.2'), Decimal('98'), 90),
 ('James White', Decimal('7.1'), Decimal('91'), 81),
 ('Mad Max: Fury Road', Decimal('8.1'), Decimal('97'), 89),
 ('Mississippi Grind', Decimal('6.3'), Decimal('89'), 76),
 ('Mr. Holmes', Decimal('6.9'), Decimal('88'), 79),
 ('Mustang', Decimal('7.7'), Decimal('98'), 88),
 ('Queen of Earth', Decimal('6.4'), Decimal('92'), 78),
 ('Room', Decimal('8.2'), Decimal('94'), 88),
 ('Shaun the Sheep Movie', Decimal('7.4'), Decimal('99'), 87),
 ('Sicario', Decimal('7.6'), Decimal('94'), 85),
 ('Slow West', Decimal('6.9'), Decimal('93'), 81),
 ('Spotlight', Decimal('8.1'), Decimal('96'), 89),
 ('Spy', Decimal('7.1'), Decimal('94'), 83),
 ('Steve Jobs', Decimal('7.2'), Decimal('86'), 79),
 ('Straight Outta Compton', Decimal('7.9'), Decimal('87'), 83),
 ('Tangerine', Decimal('7.1'), Decimal('97'), 84),
 ('The Big Short', Decimal('7.8'), Decimal('88'), 83),
 ('The Forbidden Room', Decimal('6.3'), Decimal('95'), 79),
 ('The Gift', Decimal('7.1'), Decimal('93'), 82),
 ('The Martian', Decimal('8.0'), Decimal('92'), 86),
 ('The Peanuts Movie', Decimal('7.1'), Decimal('87'), 79),
 ('The Revenant', Decimal('8.0'), Decimal('82'), 81),
 ('The Walk', Decimal('7.4'), Decimal('84'), 79),
 ('Trainwreck', Decimal('6.3'), Decimal('85'), 74),
 ('We Are Still Here', Decimal('5.7'), Decimal('95'), 76)]

Now join our average rating validation set with the kaggle data set

In [36]:
%%sql

DROP TABLE IF EXISTS val_avgratings;
CREATE TABLE val_avgratings as
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2015 i JOIN rotten_2015 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)

Done.
38 rows affected.

[]

In [37]:
%%sql

SELECT  DISTINCT movie_name,duration,gross,budget,facebook_likes,average_rating 
FROM val_avgratings a Left JOIN kaggle_data k ON 
TRIM(a.movie_name)=TRIM(k.movie_title);

38 rows affected.

[("I'll See You in My Dreams", None, None, None, None, 80),
 ('Sicario', Decimal('121'), Decimal('46875468'), Decimal('30000000'), Decimal('59000'), 85),
 ('The Revenant', Decimal('156'), Decimal('183635922'), Decimal('135000000'), Decimal('190000'), 81),
 ('Grandma', None, None, None, None, 80),
 ('Queen of Earth', None, None, None, None, 78),
 ('Spy', None, None, None, None, 83),
 ('Anomalisa', Decimal('90'), Decimal('3442820'), Decimal('8000000'), Decimal('0'), 83),
 ('Slow West', Decimal('84'), Decimal('229094'), None, Decimal('0'), 81),
 ('Mr. Holmes', None, None, None, None, 79),
 ('The Martian', Decimal('151'), Decimal('228430993'), Decimal('108000000'), Decimal('153000'), 86),
 ('Steve Jobs', Decimal('122'), Decimal('17750583'), Decimal('30000000'), Decimal('23000'), 79),
 ('Tangerine', None, None, None, None, 84),
 ('Carol', None, None, None, None, 83),
 ('Bridge of Spies', Decimal('142'), Decimal('72306065'), Decimal('40000000'), Decimal('55000'), 84),
 ('The Peanuts Movie', Decimal('88'), Decimal('130174897'), Decimal('99000000'), Decimal('33000'), 79),
 ('Beasts of No Nation', None, None, None, None, 85),
 ('Mustang', None, None, None, None, 88),
 ('Straight Outta Compton', Decimal('167'), Decimal('161029270'), Decimal('28000000'), Decimal('76000'), 83),
 ('Trainwreck', Decimal('129'), Decimal('110008260'), Decimal('35000000'), Decimal('25000'), 74),
 ('Spotlight', Decimal('128'), Decimal('44988180'), Decimal('20000000'), Decimal('80000'), 89),
 ('Shaun the Sheep Movie', None, None, None, None, 87),
 ('45 Years', None, None, None, None, 84),
 ('Inside Out', Decimal('95'), Decimal('356454367'), Decimal('175000000'), Decimal('118000'), 90),
 ('The Gift', Decimal('108'), Decimal('43771291'), Decimal('5000000'), Decimal('15000'), 82),
 ('Mad Max: Fury Road', Decimal('120'), Decimal('153629485'), Decimal('150000000'), Decimal('191000'), 89),
 ('Ant-Man', Decimal('117'), Decimal('180191634'), Decimal('130000000'), Decimal('61000'), 78),
 ('Room', Decimal('118'), Decimal('14677654'), Decimal('13000000'), Decimal('72000'), 88),
 ('The Walk', Decimal('123'), Decimal('10137502'), Decimal('35000000'), Decimal('24000'), 79),
 ('Dope', Decimal('103'), Decimal('17474107'), Decimal('7000000'), Decimal('23000'), 81),
 ('Ex Machina', Decimal('108'), Decimal('25440971'), Decimal('15000000'), Decimal('109000'), 85),
 ('The Big Short', Decimal('130'), Decimal('70235322'), Decimal('28000000'), Decimal('99000'), 83),
 ('Bone Tomahawk', None, None, None, None, 81),
 ('We Are Still Here', None, None, None, None, 76),
 ('Mississippi Grind', None, None, None, None, 76),
 ('James White', None, None, None, None, 81),
 ('Creed', Decimal('133'), Decimal('109712885'), Decimal('35000000'), Decimal('70000'), 86),
 ('The Forbidden Room', None, None, None, None, 79),
 ('Brooklyn', Decimal('111'), Decimal('38317535'), Decimal('11000000'), Decimal('36000'), 86)]

We see some missing data for the movies which we are interested. So we find the data online for the missing movies and reload it into the table

In [38]:
%%sql
DROP TABLE IF EXISTS final_val;
CREATE TABLE final_val(
movie_name VARCHAR (200),
duration NUMERIC,
gross NUMERIC,
budget NUMERIC,
facebook_likes NUMERIC,
average_rating NUMERIC);

Done.
Done.

[]

In [39]:
%%sql

COPY final_val FROM '/home/rithvik/prog/finalproj/final_val.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

38 rows affected.

[]

### SQL Querries to join Web Scrapping Data with Kaggle Data for Test Set (Movies in 2016)

In [40]:
%%sql

DROP TABLE IF EXISTS imdb_2016;

CREATE TABLE imdb_2016(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [41]:
%%sql

COPY imdb_2016 FROM '/home/rithvik/prog/finalproj/imdb_2016.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

1000 rows affected.

[]

In [42]:
%%sql

DROP TABLE IF EXISTS rotten_2016;

CREATE TABLE rotten_2016(
id SERIAL,
movie_name VARCHAR(100),
rating NUMERIC
);

Done.
Done.

[]

In [43]:
%%sql

COPY rotten_2016 FROM '/home/rithvik/prog/finalproj/rotten_2016.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

100 rows affected.

[]

In [44]:
%%sql
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2016 i JOIN rotten_2016 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)

41 rows affected.

[('10 Cloverfield Lane', Decimal('7.3'), Decimal('90'), 82),
 ('Aquarius', Decimal('7.9'), Decimal('96'), 88),
 ('Arrival', Decimal('8.4'), Decimal('93'), 89),
 ('Barbershop: The Next Cut', Decimal('5.9'), Decimal('90'), 75),
 ('Blood Father', Decimal('6.5'), Decimal('89'), 77),
 ('Captain America: Civil War', Decimal('8.0'), Decimal('90'), 85),
 ('Certain Women', Decimal('6.6'), Decimal('89'), 78),
 ('Deadpool', Decimal('8.1'), Decimal('84'), 83),
 ('Deepwater Horizon', Decimal('7.5'), Decimal('83'), 79),
 ('Doctor Strange', Decimal('8.0'), Decimal('90'), 85),
 ("Don't Breathe", Decimal('7.3'), Decimal('87'), 80),
 ("Don't Think Twice", Decimal('7.3'), Decimal('99'), 86),
 ('Elle', Decimal('7.3'), Decimal('92'), 83),
 ('Everybody Wants Some!!', Decimal('7.1'), Decimal('87'), 79),
 ('Finding Dory', Decimal('7.6'), Decimal('94'), 85),
 ('Florence Foster Jenkins', Decimal('7.1'), Decimal('86'), 79),
 ('Hacksaw Ridge', Decimal('8.7'), Decimal('86'), 87),
 ('Hail, Caesar!', Decimal('6.4'), Decimal('85'), 75),
 ('Hell or High Water', Decimal('7.9'), Decimal('98'), 89),
 ('Hunt for the Wilderpeople', Decimal('8.0'), Decimal('98'), 89),
 ('I, Daniel Blake', Decimal('8.1'), Decimal('90'), 86),
 ('Kubo and the Two Strings', Decimal('8.1'), Decimal('97'), 89),
 ('Kung Fu Panda 3', Decimal('7.2'), Decimal('87'), 80),
 ('La La Land', Decimal('8.6'), Decimal('96'), 91),
 ('Little Men', Decimal('7.1'), Decimal('98'), 85),
 ('Love & Friendship', Decimal('6.6'), Decimal('98'), 82),
 ('Loving', Decimal('7.0'), Decimal('88'), 79),
 ('Manchester by the Sea', Decimal('8.5'), Decimal('98'), 92),
 ('Midnight Special', Decimal('6.7'), Decimal('84'), 76),
 ('Moonlight', Decimal('8.7'), Decimal('98'), 93),
 ('Morris from America', Decimal('6.1'), Decimal('89'), 75),
 ("Pete's Dragon", Decimal('7.1'), Decimal('86'), 79),
 ('Queen of Katwe', Decimal('7.3'), Decimal('92'), 83),
 ('Sing Street', Decimal('8.0'), Decimal('97'), 89),
 ('Star Trek Beyond', Decimal('7.2'), Decimal('84'), 78),
 ('Sully', Decimal('7.8'), Decimal('83'), 81),
 ('The Innocents', Decimal('7.4'), Decimal('95'), 85),
 ('The Jungle Book', Decimal('7.6'), Decimal('95'), 86),
 ('The Nice Guys', Decimal('7.4'), Decimal('92'), 83),
 ('The Wailing', Decimal('7.5'), Decimal('98'), 87),
 ('Zootopia', Decimal('8.1'), Decimal('98'), 90)]

In [45]:
%%sql

DROP TABLE IF EXISTS test_avgratings;
CREATE TABLE test_avgratings as
SELECT i.movie_name,i.rating AS IMDB_Rating,r.rating AS Rotten_Tomatoes_Rating,cast((((i.rating*10)+r.rating)/2) as Integer) AS Average_rating
FROM imdb_2016 i JOIN rotten_2016 r 
ON TRIM(i.movie_name)=TRIM(r.movie_name)

Done.
41 rows affected.

[]

Now join our average rating test set with the kaggle data set

In [46]:
%%sql

SELECT movie_name,duration,gross,budget,facebook_likes,average_rating 
FROM test_avgratings a Left JOIN kaggle_data k ON 
TRIM(a.movie_name)=TRIM(k.movie_title)

42 rows affected.

[('10 Cloverfield Lane', Decimal('104'), Decimal('71897215'), Decimal('15000000'), Decimal('33000'), 82),
 ('Aquarius', None, None, None, None, 88),
 ('Arrival', None, None, None, None, 89),
 ('Barbershop: The Next Cut', None, None, None, None, 75),
 ('Blood Father', None, None, None, None, 77),
 ('Captain America: Civil War', Decimal('147'), Decimal('407197282'), Decimal('250000000'), Decimal('72000'), 85),
 ('Certain Women', None, None, None, None, 78),
 ('Deadpool', Decimal('108'), Decimal('363024263'), Decimal('58000000'), Decimal('117000'), 83),
 ('Deepwater Horizon', None, None, None, None, 79),
 ('Doctor Strange', None, None, None, None, 85),
 ("Don't Breathe", None, None, None, None, 80),
 ("Don't Think Twice", None, None, None, None, 86),
 ('Elle', None, None, None, None, 83),
 ('Everybody Wants Some!!', None, None, None, None, 79),
 ('Finding Dory', None, None, None, None, 85),
 ('Florence Foster Jenkins', Decimal('110'), None, Decimal('29000000'), Decimal('0'), 79),
 ('Hacksaw Ridge', None, None, None, None, 87),
 ('Hail, Caesar!', Decimal('106'), Decimal('29997095'), Decimal('22000000'), Decimal('23000'), 75),
 ('Hell or High Water', None, None, None, None, 89),
 ('Hunt for the Wilderpeople', None, None, None, None, 89),
 ('I, Daniel Blake', None, None, None, None, 86),
 ('Kubo and the Two Strings', None, None, None, None, 89),
 ('Kung Fu Panda 3', Decimal('95'), Decimal('143523463'), Decimal('145000000'), Decimal('24000'), 80),
 ('La La Land', None, None, None, None, 91),
 ('Little Men', None, None, None, None, 85),
 ('Love & Friendship', None, None, None, None, 82),
 ('Loving', None, None, None, None, 79),
 ('Manchester by the Sea', None, None, None, None, 92),
 ('Midnight Special', Decimal('112'), Decimal('3707794'), Decimal('18000000'), Decimal('0'), 76),
 ('Moonlight', None, None, None, None, 93),
 ('Morris from America', None, None, None, None, 75),
 ("Pete's Dragon", Decimal('102'), None, Decimal('65000000'), Decimal('21000'), 79),
 ('Queen of Katwe', None, None, None, None, 83),
 ('Sing Street', None, None, None, None, 89),
 ('Star Trek Beyond', Decimal('122'), Decimal('130468626'), Decimal('185000000'), Decimal('30000'), 78),
 ('Sully', None, None, None, None, 81),
 ('The Innocents', None, None, None, None, 85),
 ('The Jungle Book', Decimal('106'), Decimal('362645141'), Decimal('175000000'), Decimal('65000'), 86),
 ('The Jungle Book', Decimal('106'), Decimal('362645141'), Decimal('175000000'), Decimal('65000'), 86),
 ('The Nice Guys', None, None, None, None, 83),
 ('The Wailing', Decimal('156'), Decimal('770629'), None, Decimal('0'), 87),
 ('Zootopia', None, None, None, None, 90)]

We see some missing data for the movies which we are interested. So we find the data online for the missing movies and reload it into the table

In [47]:
%%sql
DROP TABLE IF EXISTS final_test;
CREATE TABLE final_test(
movie_name VARCHAR (200),
duration NUMERIC,
gross NUMERIC,
budget NUMERIC,
facebook_likes NUMERIC,
average_rating NUMERIC);

Done.
Done.

[]

In [49]:
%%sql

COPY final_test FROM '/home/rithvik/prog/finalproj/final_test.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

41 rows affected.

[]

### Sentiment Analysis for Movies in 2012

In [ ]:
import twitter
import tweepy
import textblob

In [ ]:
def getAuthData():
    import csv
    with open('/home/zwang/1-ProgrammingForBA/FinalProject/authdata/authdataQ1.csv', 'r') as f:
        reader = csv.reader(f)
        your_list = list(reader)

    authdata = {}   
    for element in your_list:
        authdata[element[0]] = element[1]
    print(authdata)

    return authdata

def remove_punctuation(s):
    #to remove the punctuations in the twitter#
    punctuation = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
    s_sans_punct = ""
    for letter in s:
        if (letter not in punctuation) and (letter in "abcdefghijklmnopqrstuvwxyz "):
            s_sans_punct += letter
    return s_sans_punct

def getLowerCaseText(status_texts):
    #transfer the twitter into lowercase twitter#
    lowered_texts = []
    for texts in status_texts:
        try: 
            mytext = str(texts.lower())
            lowered_texts.append(mytext)
        except:
            pass
    return lowered_texts

def remove_stopwords(lowered_text):
    #remove the stopwords in the twitter, u can define the stopwords list by yourself#
    #self define stopword list
    stopword=['and','the','to','of','her','it','in','you','she','for']
    #stop = stopwords.words('english') + ['rt', 'via']
    good_words=[]
    good_text= [text for text in lowered_text if text not in stopword]
    good_words.append(good_text)
    #print(good_words)
    return good_words

def getCleanedTweets(lowered_texts):
    cleanedTweets = []
    for text in lowered_texts:
        wordlist = str(text).split()
        wordlist_nopun = [ str(remove_punctuation(for_a_word)) for for_a_word in wordlist ]
        cleanedTweets.append(wordlist_nopun)
    return cleanedTweets

def getScore(fileName):
    
    with open("/home/zwang/1-ProgrammingForBA/FinalProject/Twitter text/2012/"+fileName,'r') as f:
        tweetTexts = f.readlines()
    lowered_texts = getLowerCaseText(tweetTexts)
    lowered_texts = remove_stopwords(lowered_texts)
    cleanedTweets = getCleanedTweets(lowered_texts)
    sentimentList = GetSentimentScores(cleanedTweets)
    score = sum(sentimentList)/len(sentimentList)*50+50
    return(score)

def GetSentimentScores(cleanedTweets):
    sentiment = []
    for eachTweet in cleanedTweets:
        analysis = textblob.TextBlob(str(eachTweet))   
        sentiment.append(analysis.sentiment.polarity)
    return sentiment

In [ ]:
def getTweepyData(searchTerm, fileName):
    auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(OAUTH_TOKEN,OAUTH_TOKEN_SECRET)
    api = tweepy.API(auth)    
    
    tweet_cursor = tweepy.Cursor(api.search,q=searchTerm)
    
    tweetTexts = []
    n=0
    for tweet in tweet_cursor.items():    
        if n <= 1000:
            tweetTexts.append(tweet.text) 
            n += 1
        else: 
            break
    
    with open("/home/zwang/1-ProgrammingForBA/FinalProject/Twitter text/2012/"+fileName,'a') as f:
        f.writelines(tweetTexts)

In [ ]:
authdata=getAuthData()

CONSUMER_KEY = authdata['CONSUMER_KEY']
CONSUMER_SECRET = authdata['CONSUMER_SECRET']
OAUTH_TOKEN = authdata['OAUTH_TOKEN']
OAUTH_TOKEN_SECRET = authdata['OAUTH_TOKEN_SECRET']

In [ ]:
#getTweepyData('The Hunger Games',"The Hunger Games.txt")
#getTweepyData('The Dark Knight Rises',"The Dark Knight Rises.txt")
#getTweepyData('Django Unchained',"Django Unchained.txt")
#getTweepyData('The Perks of Being a Wallflower',"The Perks of Being a Wallflower.txt")
#getTweepyData('Moonrise Kingdom',"Moonrise Kingdom.txt")
#getTweepyData('Pitch Perfect',"Pitch Perfect.txt")
#getTweepyData('Silver Linings Playbook',"Silver Linings Playbook.txt")
#getTweepyData('Skyfall',"Skyfall.txt")
#getTweepyData('Looper',"Looper.txt")
#getTweepyData('Magic Mike',"Magic Mike.txt")
#getTweepyData('Argo',"Argo.txt")
#getTweepyData('Flight',"Flight.txt")
#getTweepyData('Lincoln',"Lincoln.txt")
#getTweepyData('The Cabin in the Woods',"The Cabin in the Woods.txt")
#getTweepyData('21 Jump Street',"21 Jump Street.txt")
#getTweepyData('Life of Pi',"Life of Pi.txt")
#getTweepyData('The Impossible',"The Impossible.txt")
#getTweepyData('End of Watch',"End of Watch.txt")
#getTweepyData('The Master',"The Master.txt")
#getTweepyData('Seven Psychopaths',"Seven Psychopaths.txt")
#getTweepyData('Brave',"Brave.txt")
#getTweepyData('Chronicle',"Chronicle.txt")
#getTweepyData('ParaNorman',"ParaNorman.txt")
#getTweepyData('A Royal Affair',"A Royal Affair.txt")
#getTweepyData('Amour',"Amour.txt")
#getTweepyData('The Pirates! Band of Misfits',"The Pirates Band of Misfits.txt")
#getTweepyData('Safety Not Guaranteed',"Safety Not Guaranteed.txt")
#getTweepyData('Frankenweenie',"Frankenweenie.txt")
#getTweepyData('Beasts of the Southern Wild',"Beasts of the Southern Wild.txt")
#getTweepyData('Holy Motors',"Holy Motors.txt")
#getTweepyData('Arbitrage',"Arbitrage.txt")
#getTweepyData('The Sessions',"The Sessions.txt")
#getTweepyData('Starlet',"Starlet.txt")
#getTweepyData('Robot & Frank',"Robot & Frank.txt")
#getTweepyData('Compliance',"Compliance.txt")
#getTweepyData('Smashed',"Smashed.txt")
#getTweepyData('Barbara',"Barbara.txt")
#getTweepyData('Farewell, My Queen',"Farewell My Queen.txt")
#getTweepyData('Middle of Nowhere',"Middle of Nowhere.txt")
#getTweepyData('Keep the Lights On',"Keep the Lights On.txt")
#getTweepyData('Tabu',"Tabu.txt")
getTweepyData('Zero Dark Thirty',"Zero Dark Thirty.txt")
getTweepyData('Les Miserables',"Les Miserables.txt")

In [ ]:
import csv
import pandas as pd

HungerGame = getScore('The Hunger Games.txt')
DarkKnightRises = getScore('The Dark Knight Rises.txt')
Django = getScore('Django Unchained.txt')
Wallflower = getScore('The Perks of Being a Wallflower.txt')
MoonriseKingdom = getScore('Moonrise Kingdom.txt')
PitchPerfec = getScore('Pitch Perfect.txt')
SilverLiningsPlaybook = getScore('Silver Linings Playbook.txt')
Skyfall = getScore('Skyfall.txt')
Looper = getScore('Looper.txt')
MagicMike = getScore('Magic Mike.txt')
Argo = getScore('Argo.txt')
Flight = getScore('Flight.txt')
Lincoln = getScore('Lincoln.txt')
CabinintheWoods = getScore('The Cabin in the Woods.txt')
JumpStreet21 = getScore('21 Jump Street.txt')
LifeofPi = getScore('Life of Pi.txt')
TheImpossible = getScore('The Impossible.txt')
EndofWatch = getScore('End of Watch.txt')
Master = getScore('The Master.txt')
SevenPsychopaths = getScore('Seven Psychopaths.txt')
Brave = getScore('Brave.txt')
Chronicle = getScore('Chronicle.txt')
ParaNorman = getScore('ParaNorman.txt')
ARoyalAffair = getScore('A Royal Affair.txt')
Amour = getScore('Amour.txt')
PiratesBand = getScore('The Pirates Band of Misfits.txt')
SafetyNotGuaranteed = getScore('Safety Not Guaranteed.txt')
Frankenweenie = getScore('Frankenweenie.txt')
SouthernWild = getScore('Beasts of the Southern Wild.txt')
HolyMotors = getScore('Holy Motors.txt')
Arbitrage = getScore('Arbitrage.txt')
TheSessions = getScore('The Sessions.txt')
Starlet = getScore('Starlet.txt')
RobotFrank = getScore('Robot & Frank.txt')
Compliance = getScore('Compliance.txt')
Smashed = getScore('Smashed.txt')
Barbara = getScore('Barbara.txt')
FarewellMyQueen = getScore('Farewell My Queen.txt')
MiddleofNowhere = getScore('Middle of Nowhere.txt')
KeeptheLightsOn = getScore('Keep the Lights On.txt')
Tabu = getScore('Tabu.txt')
ZeroDarkThirty = getScore('Zero Dark Thirty.txt')
LesMiserables = getScore('Les Miserables.txt')

data = [HungerGame,DarkKnightRises,Django,Wallflower,MoonriseKingdom,PitchPerfec,SilverLiningsPlaybook,Skyfall,\
        Looper,MagicMike,Argo,Flight,Lincoln,CabinintheWoods,JumpStreet21,LifeofPi,TheImpossible,EndofWatch,Master,\
        SevenPsychopaths,Brave,Chronicle,ParaNorman,ARoyalAffair,Amour,PiratesBand,SafetyNotGuaranteed,\
        Frankenweenie,SouthernWild,HolyMotors,Arbitrage,TheSessions,Starlet,RobotFrank,Compliance,Smashed,Barbara,\
        FarewellMyQueen,MiddleofNowhere,KeeptheLightsOn,Tabu,ZeroDarkThirty,LesMiserables]

MovieName =["The Hunger Games","The Dark Knight Rises","Django Unchained","The Perks of Being a Wallflower",\
            "Moonrise Kingdom","Pitch Perfect","Silver Linings Playbook","Skyfall","Looper","Magic Mike","Argo",\
            "Flight","Lincoln","The Cabin in the Woods","21 Jump Street","Life of Pi","The Impossible",\
            "End of Watch","The Master","Seven Psychopaths","Brave","Chronicle","ParaNorman","A Royal Affair",\
            "Amour","The Pirates! Band of Misfits","Safety Not Guaranteed","Frankenweenie",\
            "Beasts of the Southern Wild","Holy Motors","Arbitrage","The Sessions","Starlet","Robot & Frank",\
            "Compliance","Smashed","Barbara","Farewell, My Queen","Middle of Nowhere","Keep the Lights On","Tabu",\
            "Zero Dark Thirty","Les Miserables"]

DF = pd.DataFrame({"MovieName":MovieName,"SentimentScore":data})

DF.to_csv('2012all.csv')



%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')  

DF.plot(kind="bar")
plt.title("Sentiment Analysis of Movies in 2012")

### Sentiment Analysis for Movies in 2013

In [ ]:
#getTweepyData('American Hustle',"AmericanHustle.txt")
#getTweepyData('Captain Phillips',"CaptainPhillips.txt")
#getTweepyData('Dallas Buyers Club',"DallasBuyersClub.txt")
#getTweepyData('Gravity',"Gravity.txt")
#getTweepyData('Her',"Her.txt")
#getTweepyData('Nebraska',"Nebraska.txt")
#getTweepyData('Philomena',"Philomena.txt")
#getTweepyData('The Wolf of Wall Street',"TheWolfofWallStreet.txt")

#getTweepyData('The Conjuring','Conjuring.txt')
#getTweepyData('Prisoners','Prisoners.txt')
#getTweepyData('Star Trek Into Darkness','StarTrek.txt')
#getTweepyData('12 Years a Slave','Slave.txt')
#getTweepyData('Frozen','Frozen.txt')
#getTweepyData('Rush','Rush.txt')
#getTweepyData('Warm Bodies','Warm.txt')
#getTweepyData('This is the End','End.txt')
#getTweepyData('The Hunger Games: Catching Fire','HungerGame.txt')
#getTweepyData("The World's End","WorldEnd.txt")

#getTweepyData('Don Jon','Don.txt')
#getTweepyData('The Spectacular Now','Spectaculat.txt')
#getTweepyData('Inside Llewyn Davis','Davis.txt')
#getTweepyData('Saving Mr.Banks','Banks.txt')
#getTweepyData('Side Effects','SideEffects.txt')
#getTweepyData('Blue Jasmine','Jasmine.txt')
#getTweepyData('The Way Way Back','Back.txt')
#getTweepyData('Short Term 12','Short.txt')
#getTweepyData('Before Midnight','Midnight.txt')
#getTweepyData('We Are What We Are','weare.txt')

#getTweepyData('Fruitvale Station','Fruit.txt')
#getTweepyData('Upstream Color','Upstream.txt')
#getTweepyData('Drinking Buddies','Drinking.txt')
#getTweepyData('All is Lost','Lost.txt')
#getTweepyData('Enough Said','EnoughSaid.txt')
#getTweepyData('Le passé','Le.txt')
#getTweepyData('In a World','World.txt')
#getTweepyData('Computer Chess','ComputerChess.txt')
getTweepyData('The Selfish Giant','Giant.txt')

In [ ]:
import csv
import pandas as pd

Hustle = getScore('AmericanHustle.txt')
Captain = getScore('CaptainPhillips.txt')
Club = getScore('DallasBuyersClub.txt')
Gravity = getScore('Gravity.txt')
Her = getScore('Her.txt')
Nebraska = getScore('Nebraska.txt')
Philomena = getScore('Philomena.txt')
Street = getScore('TheWolfofWallStreet.txt')

Conjuring = getScore('Conjuring.txt')
Prisoners = getScore('Prisoners.txt')
StarTrek = getScore('StarTrek.txt')
Slave = getScore('Slave.txt')
Frozen = getScore('Frozen.txt')
Rush = getScore('Rush.txt')
Warm = getScore('Warm.txt')
End = getScore('End.txt')
Hunger = getScore('HungerGame.txt')
WorldEnd = getScore('WorldEnd.txt')

Don = getScore('Don.txt')
Spect = getScore('Spectaculat.txt')
Davis = getScore('Davis.txt')
Banks = getScore('Banks.txt')
Side= getScore('SideEffects.txt')
Jasmine = getScore('Jasmine.txt')
Back = getScore('Back.txt')
Short = getScore('Short.txt')
Midnight = getScore('Midnight.txt')
weare = getScore('weare.txt')

Fruit = getScore('Fruit.txt')
Upstream = getScore('Upstream.txt')
Drinking = getScore('Drinking.txt')
Lost = getScore('Lost.txt')
EnoughSaid = getScore('EnoughSaid.txt')
Le = getScore('Le.txt')
World = getScore('World.txt')
Chess = getScore('ComputerChess.txt')
Giant = getScore('Giant.txt')

data = [Hustle,Captain,Club,Gravity,Her,Nebraska,Philomena,Street,\
       Conjuring,Prisoners,StarTrek,Slave,Frozen,Rush,Warm,End,Hunger,WorldEnd,\
       Don,Spect,Davis,Banks,Side,Jasmine,Back,Short,Midnight,weare,\
       Fruit,Upstream,Drinking,Lost,EnoughSaid,Le,World,Chess,Giant]

MovieName =['AmericanHustle','CaptainPhillips','DallasBuyersClub','Gravity','Her','Nebraska','Philomena','TheWolfofWallStreet',\
           'The Conjuring','Prisoners','Star Trek Into Darkness','12 Years a Slave','Frozen','Rush','Warm Bodies',\
           'This Is is the End','The Hunger Games: Catching Fire',"The World's End",\
           'Don Jon','The Spectacular Now','Inside Llewyn Davis','Saving Mr. Banks','Side Effects',\
           'Blue Jasmine','The Way Way Back','Short Term 12','Before Midnight','We Are What We Are',\
           'Fruitvale Station','Upstram Color','Drinking Buddies','All Is Lost','Enough Said','Le passé',\
           'In a World...','Computer Chess','The Selfish Giant']

DF = pd.DataFrame({"MovieName":MovieName,"SentimentScore":data})

DF.to_csv('2014candidate.csv')



%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')  

DF.plot(kind="bar")
plt.title("Sentiment Analysis of Movies in 2013")

### Sentiment Analysis for 38 Movies in 2014

In [ ]:
#getTweepyData('Guardians of the Galaxy',"Guardians of the Galaxy.txt")
#getTweepyData('Gone Girl',"Gone Girl.txt")
#getTweepyData('The Babadook',"The Babadook.txt")
#getTweepyData('John Wick',"John Wick.txt")
#getTweepyData('X-Men:Days of Future Past',"X-MenDaysofFuturePast.txt")
#getTweepyData('Captain America:The Winter Soldier',"CaptainAmericaTheWinterSoldier.txt")
#getTweepyData('Nightcrawler',"Nightcrawler.txt")
#getTweepyData('The Guest',"The Guest.txt")
#getTweepyData('Big Hero 6',"Big Hero 6.txt")
#getTweepyData('A Girl Walks Home Alone at Night',"A Girl Walks Home Alone at Night.txt")
#getTweepyData('Chef',"Chef.txt")
#getTweepyData('22 Jump Street',"22 Jump Street.txt")
#getTweepyData('Wild',"Wild.txt")
#getTweepyData('How to Train Your Dragon 2',"How to Train Your Dragon 2.txt")
#getTweepyData('The Drop',"The Drop.txt")
#getTweepyData('Foxcatcher',"Foxcatcher.txt")
#getTweepyData('A Most Wanted Man',"A Most Wanted Man.txt")
#getTweepyData('Pride',"Pride.txt")
#getTweepyData('Frank',"Frank.txt")
#getTweepyData('Calvary',"Calvary.txt")
#getTweepyData('Top Five',"Top Five.txt")
#getTweepyData('Cold in July',"Cold in July.txt")
#getTweepyData('Leviathan',"Leviathan.txt")
#getTweepyData('The Good Lie',"The Good Lie.txt")
#getTweepyData('Mr Turner',"Mr Turner.txt")
#getTweepyData('The Skeleton Twins',"The Skeleton Twins.txt")
#getTweepyData('Dear White People',"Dear White People.txt")
#getTweepyData('Obvious Child',"Obvious Child.txt")
getTweepyData('Love Is Strange',"Love Is Strange-test.txt")
getTweepyData('Gloria',"Gloria-test.txt")

In [ ]:
import csv
import pandas as pd

AS = getScore('AmericanSniper.txt')
Boyhood = getScore('Boyhood.txt')
TGBH = getScore('TheGrandBudapestHotel.txt')
TIG = getScore('TheImitationGame.txt')
Selma = getScore('Selma.txt')
Birdman = getScore('Birdman.txt')
Theory = getScore('TheTheoryOfEverything.txt')
Whiplash = getScore('Whiplash.txt')

Galaxy = getScore('Guardians of the Galaxy.txt')
GoneGirl = getScore('Gone Girl.txt')
Babadook = getScore('The Babadook.txt')
JohnWick = getScore('John Wick.txt')
XMen = getScore('X-MenDaysofFuturePast.txt')
CaptainAmerica = getScore('CaptainAmericaTheWinterSoldier.txt')
Nightcrawler = getScore('Nightcrawler.txt')
TheGuest = getScore('The Guest.txt')
BigHero6 = getScore('Big Hero 6.txt')
AGirlWalksHomeAlone= getScore('A Girl Walks Home Alone at Night.txt')
Chef = getScore('Chef.txt')
JumpStreet = getScore('22 Jump Street.txt')
Wild = getScore('Wild.txt')
Dragon2 = getScore('How to Train Your Dragon 2.txt')
TheDrop = getScore('The Drop.txt')
Foxcatcher = getScore('Foxcatcher.txt')
AMostWantedMan = getScore('A Most Wanted Man.txt')
Pride = getScore('Pride.txt')
Frank = getScore('Frank.txt')
Calvary = getScore('Calvary.txt')
TopFive = getScore('Top Five.txt')
ColdinJuly = getScore('Cold in July.txt')
Leviathan = getScore('Leviathan.txt')
TheGoodLie = getScore('The Good Lie.txt')
MrTurner = getScore('Mr Turner.txt')
TheSkeletonTwins = getScore('The Skeleton Twins.txt')
DearWhitePeople = getScore('Dear White People.txt')
ObviousChild = getScore('Obvious Child.txt')
LoveIsStrange = getScore('Love Is Strange.txt')
Gloria = getScore('Gloria.txt')



data = [AS,Boyhood,TGBH,TIG,Selma,Birdman,Theory,Whiplash,\
        Galaxy,GoneGirl,Babadook,JohnWick,XMen,CaptainAmerica,Nightcrawler,TheGuest,BigHero6,AGirlWalksHomeAlone,Chef,JumpStreet,\
        Wild,Dragon2,TheDrop,Foxcatcher,AMostWantedMan,Pride,Frank,Calvary,TopFive,ColdinJuly,Leviathan,TheGoodLie,\
        MrTurner,TheSkeletonTwins,DearWhitePeople,ObviousChild,LoveIsStrange,Gloria]
MovieName =['American Sniper','Boyhood','The Grand Budapest Hotel','The Imitation Game','Selma','Birdman',\
            'The Theory of Everything','Whiplash',\
            'Guardians of the Galaxy','Gone Girl','The Babadook','John Wick','X-Men:Days of Future Past','Captain America:The Winter Soldier',\
            'Nightcrawler','The Guest','Big Hero 6','A Girl Walks Home Alone at Night','Chef','22 Jump Street',\
            'Wild','How to Train Your Dragon 2','The Drop','Foxcatcher','A Most Wanted Man','Pride','Frank',\
            'Calvary','Top Five','Cold in July','Leviathan','The Good Lie','Mr. Turner','The Skeleton Twins',\
            'Dear White People','Obvious Child','Love Is Strange','Gloria']
DF = pd.DataFrame({"MovieName":MovieName,"SentimentScore":data})

DF.to_csv('2014all.csv')



%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')  

DF.plot(kind="bar")
plt.title("Sentiment Analysis of Movies in 2014")

### Sentiment Analysis for Movies in 2015

In [ ]:
#getTweepyData('The Big Short',"TheBigShort.txt")
#getTweepyData('Bridge of Spies',"BridgeOfSpies.txt")
#getTweepyData('Brooklyn',"Brooklyn.txt")
#getTweepyData('Mad Max: Fury Road',"MadMaxFuryRoad.txt")
#getTweepyData('The Martian',"TheMartian.txt")
#getTweepyData('The Revenant',"TheRevenant.txt")
#getTweepyData('Room',"Room.txt")
#getTweepyData('Spotlight',"Spotlight.txt")

#getTweepyData('Sicario','Sicario.txt')
#getTweepyData('Ex Machina','ExMachina.txt')
#getTweepyData('Inside Out','InsideOut.txt')
#getTweepyData('Ant-Man','AntMan.txt')
#getTweepyData('Straight Outta Compton','StraightOuttaCompton.txt')
#getTweepyData('Carol','Carol.txt')
#getTweepyData('Steve Jobs','SteveJobs.txt')
#getTweepyData('Trainwreck','Trainwreck.txt')
#getTweepyData('The Gift','TheGift.txt')
#getTweepyData('Spy','Spy.txt')
#getTweepyData('Creed','Creed.txt')
#getTweepyData('Bone Tomahawk','BoneTomahawk.txt')

#getTweepyData('Dope','Dope.txt')
#getTweepyData('The Walk','The Walk.txt')
#getTweepyData('Anomalisa','Anomalisa.txt')
#getTweepyData('Beasts of No Nation','Beasts.txt')
#getTweepyData('Mr.Holmes','Holmes.txt')
#getTweepyData('45 Years','45Years.txt')
#getTweepyData('We Are Still Here','Still.txt')
#getTweepyData('The Peanuts Movie','Peanuts.txt')

#getTweepyData('Mustang','Mustang.txt')
#getTweepyData('Slow West','Slow West.txt')
#getTweepyData('Mississippi Grind','Mississippi.txt')
#getTweepyData('Tangerine','Tangerine.txt')
#getTweepyData('Grandma','Grandma.txt')
#getTweepyData('Shaun the Sheep Movie','Shaun.txt')
#getTweepyData('James White','JamesWhite.txt')
#getTweepyData("I'll See You in My Dreams","Dreams.txt")
getTweepyData("The Forbidden Room","Forbidden.txt")
getTweepyData("Queen of Earth","Earth.txt")

In [ ]:
import csv
import pandas as pd

TBS = getScore('TheBigShort.txt')
BoS = getScore('BridgeOfSpies.txt')
Brooklyn = getScore('Brooklyn.txt')
MadMax = getScore('MadMaxFuryRoad.txt')
Martian = getScore('TheMartian.txt')
Revenant = getScore('TheRevenant.txt')
Room = getScore('Room.txt')
Spotlight = getScore('Spotlight.txt')

Sicario = getScore('Sicario.txt')
Machina = getScore('ExMachina.txt')
Inside = getScore('InsideOut.txt')
AntMan = getScore('AntMan.txt')
Straight = getScore('StraightOuttaCompton.txt')
Carol = getScore('Carol.txt')
SteveJobs = getScore('SteveJobs.txt')
Train = getScore('Trainwreck.txt')
Gift = getScore('TheGift.txt')
Spy = getScore('Spy.txt')
Creed = getScore('Creed.txt')
Bone = getScore('BoneTomahawk.txt')

Dope = getScore('Dope.txt')
Walk = getScore('The Walk.txt')
Anomalisa = getScore('Anomalisa.txt')
Beasts = getScore('Beasts.txt')
Holmes = getScore('Holmes.txt')
Years = getScore('45Years.txt')
Still = getScore('Still.txt')
Peanuts = getScore('Peanuts.txt')

Mustang = getScore('Mustang.txt')
West = getScore('Slow West.txt')
Missi = getScore('Mississippi.txt')
Tangerine = getScore('Tangerine.txt')
Grandma = getScore('Grandma.txt')
Shaun = getScore('Shaun.txt')
James = getScore('JamesWhite.txt')
Dreams = getScore('Dreams.txt')
Forbidden = getScore('Forbidden.txt')
Earth = getScore('Earth.txt')

data = [TBS,BoS,Brooklyn,MadMax,Martian,Revenant,Room,Spotlight,\
        Sicario,Machina,Inside,AntMan,Straight,Carol,SteveJobs,\
        Train,Gift,Spy,Creed,Bone,\
        Dope,Walk,Anomalisa,Beasts,Holmes,Years,Still,Peanuts,\
        Mustang,West,Missi,Tangerine,Grandma,\
        Shaun,James,Dreams,Forbidden,Earth]
print(data)
print(len(data))
MovieName =['The Big Short','Bridge Of Spies','Brooklyn','Mad Max: Fury Road','The Martian','The Revenant','Room','Spotlight',\
           'Sicario','Ex Machina','Inside Out','Ant-Man','Straight Outta Compton','Carol','Steve Jobs',\
            'Trainwreck','The Gift','Spy','Creed','Bone Tomahawk',\
           'Dope','The Walk','Anomalisa','Beasts of No Nation','Mr.Holmes',\
           '45 Years','We Are Still Here','The Peanuts Movie',\
           'Mustang','Slow West','Mississippi Grind','Tangerine','Grandma',\
           'Shaun the Sheep Movie','James White',"I'll See You in My Dreams",'The Forbidden Room','Queen of Earth']
print(MovieName)
print(len(MovieName))
DF = pd.DataFrame({"MovieName":MovieName,"SentimentScore":data})
DF.to_csv('2016candidate.csv')

print(DF)

%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')  

DF.plot(kind="bar")
plt.title("Sentiment Analysis of Movies in 2015")

### Sentiment Analysis for 41 Movies in 2016

In [ ]:
#getTweepyData('10 Cloverfield Lane',"10 Cloverfield Lane.txt")
#getTweepyData('Aquarius',"Aquarius.txt")
#getTweepyData('Arrival',"Arrival.txt")
#getTweepyData('Barbershop: The Next Cut',"BarbershopTheNextCut.txt")
#getTweepyData('Blood Father',"Blood Father.txt")
#getTweepyData('Captain America:Civil War',"CaptainAmericaCivilWar.txt")
#getTweepyData('Certain Women',"Certain Women.txt")
#getTweepyData('Deadpool',"Deadpool.txt")
#getTweepyData('Deepwater Horizon',"Deepwater Horizon.txt")
#getTweepyData('Doctor Strange',"Doctor Strange.txt")
#getTweepyData("Don't Breathe","Dont Breathe.txt")
#getTweepyData("Don't Think Twice","Dont Think Twice.txt")
#getTweepyData('Elle',"Elle.txt")
#getTweepyData('Everybody Wants Some',"Everybody Wants Some.txt")
#getTweepyData('Finding Dory',"Finding Dory.txt")
#getTweepyData('Florence Foster Jenkins',"Florence Foster Jenkins.txt")
#getTweepyData('Hacksaw Ridge',"Hacksaw Ridge.txt")
#getTweepyData('Hail, Caesar',"HailCaesar.txt")
#getTweepyData('Hell or High Water',"Hell or High Water.txt")
#getTweepyData('Hunt for the Wilderpeople',"Hunt for the Wilderpeople.txt")
#getTweepyData('I, Daniel Blake',"I Daniel Blake.txt")
#getTweepyData('Kubo and the Two Strings',"Kubo and the Two Strings.txt")
#getTweepyData('Kung Fu Panda 3',"Kung Fu Panda 3.txt")
#getTweepyData('La La Land',"La La Land.txt")
#getTweepyData('Little Men',"Little Men.txt")
#getTweepyData('Love & Friendship',"LoveFriendship.txt")
#getTweepyData('Loving',"Loving.txt")
#getTweepyData('Manchester by the Sea',"Manchester by the Sea.txt")
#getTweepyData('Midnight Special',"Midnight Special.txt")
#getTweepyData('Moonlight',"Moonlight.txt")
#getTweepyData('Morris from America',"Morris from America.txt")
#getTweepyData("Pete's Dragon","PetesDragon.txt")
#getTweepyData('Queen of Katwe',"Queen of Katwe.txt")
#getTweepyData('Sing Street',"Sing Street.txt")
#getTweepyData('Star Trek Beyond',"Star Trek Beyond.txt")
#getTweepyData('Sully',"Sully.txt")
#getTweepyData('The Innocents',"The Innocents.txt")
#getTweepyData('The Jungle Book',"The Jungle Book.txt")
#getTweepyData('The Nice Guys',"The Nice Guys.txt")
#getTweepyData('The Wailing',"The Wailing.txt")
getTweepyData('Zootopia',"Zootopia.txt")

In [ ]:
import csv
import pandas as pd

Cloverfield = getScore('10 Cloverfield Lane.txt')
Aquarius = getScore('Aquarius.txt')
Arrival = getScore('Arrival.txt')
Barbershop = getScore('BarbershopTheNextCut.txt')
BloodFather = getScore('Blood Father.txt')
CaptainAmericaCivilWar = getScore('CaptainAmericaCivilWar.txt')
CertainWomen = getScore('Certain Women.txt')
Deadpool = getScore('Deadpool.txt')
DeepwaterHorizon = getScore('Deepwater Horizon.txt')
DoctorStrange = getScore('Doctor Strange.txt')
DontBreathe = getScore('Dont Breathe.txt')
DontThinkTwice = getScore('Dont Think Twice.txt')
Elle = getScore('Elle.txt')
Everybody = getScore('Everybody Wants Some.txt')
FindingDory = getScore('Finding Dory.txt')
FlorenceFosterJenkins = getScore('Florence Foster Jenkins.txt')
HacksawRidge = getScore('Hacksaw Ridge.txt')
HailCaesar = getScore('HailCaesar.txt')
HighWater = getScore('Hell or High Water.txt')
Wilderpeople = getScore('Hunt for the Wilderpeople.txt')
IDanielBlake = getScore('I Daniel Blake.txt')
KuboTwoStrings = getScore('Kubo and the Two Strings.txt')
KungFuPanda3 = getScore('Kung Fu Panda 3.txt')
LaLaLand = getScore('La La Land.txt')
LittleMen = getScore('Little Men.txt')
LoveFriendship = getScore('LoveFriendship.txt')
Loving = getScore('Loving.txt')
Manchester = getScore('Manchester by the Sea.txt')
MidnightSpecial = getScore('Midnight Special.txt')
Moonlight = getScore('Moonlight.txt')
MorrisfromAmerica = getScore('Morris from America.txt')
PetesDragon = getScore('PetesDragon.txt')
QueenofKatwe = getScore('Queen of Katwe.txt')
SingStreet = getScore('Sing Street.txt')
StarTrekBeyond = getScore('Star Trek Beyond.txt')
Sully = getScore('Sully.txt')
TheInnocents = getScore('The Innocents.txt')
TheJungleBook = getScore('The Jungle Book.txt')
TheNiceGuys = getScore('The Nice Guys.txt')
TheWailing = getScore('The Wailing.txt')
Zootopia = getScore('Zootopia.txt')




data = [Cloverfield,Aquarius,Arrival,Barbershop,BloodFather,CaptainAmericaCivilWar,CertainWomen,Deadpool,DeepwaterHorizon,\
       DoctorStrange,DontBreathe,DontThinkTwice,Elle,Everybody,FindingDory,FlorenceFosterJenkins,HacksawRidge,HailCaesar,HighWater,\
       Wilderpeople,IDanielBlake,KuboTwoStrings,KungFuPanda3,LaLaLand,LittleMen,LoveFriendship,Loving,Manchester,MidnightSpecial,\
       Moonlight,MorrisfromAmerica,PetesDragon,QueenofKatwe,SingStreet,StarTrekBeyond,Sully,TheInnocents,TheJungleBook,\
       TheNiceGuys,TheWailing,Zootopia]
MovieName =['10 Cloverfield Lane','Aquarius','Arrival','Barbershop: The Next Cut','Blood Father','Captain America: Civil War',\
           'Certain Women','Deadpool','Deepwater Horizon','Doctor Strange',"Don't Breathe","Don't Think Twice",'Elle',\
           'Everybody Wants Some','Finding Dory','Florence Foster Jenkins','Hacksaw Ridge','Hail, Caesar','Hell or High Water',\
           'Hunt for the Wilderpeople','I, Daniel Blake','Kubo and the Two Strings','Kung Fu Panda 3','La La Land','Little Men',\
           'Love & Friendship','Loving','Manchester by the Sea','Midnight Special','Moonlight','Morris from America',"Pete's Dragon",\
           'Queen of Katwe','Sing Street','Star Trek Beyond','Sully','The Innocents','The Jungle Book','The Nice Guys',\
           'The Wailing','Zootopia']
DF = pd.DataFrame({"MovieName":MovieName,"SentimentScore":data})

DF.to_csv('2016testdata.csv')

%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')  

DF.plot(kind="bar")
plt.title("Sentiment Analysis of Movies in 2016")

### SQL Querries to create final training set with adding on Twitter sentiment results.

In [50]:
%%sql

DROP TABLE IF EXISTS twitter_train;
CREATE TABLE twitter_train(
movie_name VARCHAR (200),
sentiment_score NUMERIC,
nominated NUMERIC);

Done.
Done.

[]

In [51]:
%%sql

COPY twitter_train FROM '/home/rithvik/prog/finalproj/twitter_train.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

118 rows affected.

[]

Now we join the final training data which contains the attributes like duration,gross,budget, facebook likes and average rating with the twitter data which contains twitter sentiment score and whether the movie is nominated or not

In [52]:
%%sql

SELECT f.movie_name,f.duration,f.gross,f.budget,f.facebook_likes,f.average_rating,t.sentiment_score,t.nominated
FROM final_train f JOIN twitter_train t ON
TRIM(f.movie_name)=TRIM(t.movie_name);

117 rows affected.

[('The Hunger Games', Decimal('142'), Decimal('407999255'), Decimal('78000000'), Decimal('140000'), Decimal('79'), Decimal('59.99092525'), Decimal('0')),
 ('The Dark Knight Rises', Decimal('164'), Decimal('448130642'), Decimal('250000000'), Decimal('164000'), Decimal('86'), Decimal('47.63032493'), Decimal('0')),
 ('Django Unchained', Decimal('165'), Decimal('162804648'), Decimal('100000000'), Decimal('199000'), Decimal('86'), Decimal('73.60551989'), Decimal('1')),
 ('The Perks of Being a Wallflower', Decimal('102'), Decimal('17738570'), Decimal('13000000'), Decimal('131000'), Decimal('83'), Decimal('53.94583879'), Decimal('0')),
 ('Moonrise Kingdom', Decimal('94'), Decimal('45507053'), Decimal('16000000'), Decimal('71000'), Decimal('86'), Decimal('61.46292804'), Decimal('0')),
 ('Pitch Perfect', Decimal('112'), Decimal('64998368'), Decimal('17000000'), Decimal('36000'), Decimal('76'), Decimal('84.62413522'), Decimal('0')),
 ('Silver Linings Playbook', Decimal('122'), Decimal('132088910'), Decimal('21000000'), Decimal('117000'), Decimal('85'), Decimal('52.33194581'), Decimal('1')),
 ('Skyfall', Decimal('143'), Decimal('304360277'), Decimal('200000000'), Decimal('80000'), Decimal('86'), Decimal('60.09196476'), Decimal('0')),
 ('Looper', Decimal('119'), Decimal('66468315'), Decimal('30000000'), Decimal('75000'), Decimal('84'), Decimal('65.1185463'), Decimal('0')),
 ('Magic Mike', Decimal('110'), Decimal('113709992'), Decimal('7000000'), Decimal('54000'), Decimal('71'), Decimal('68.40991638'), Decimal('0')),
 ('Argo', Decimal('130'), Decimal('136019448'), Decimal('44500000'), Decimal('89000'), Decimal('87'), Decimal('61.8413265'), Decimal('1')),
 ('Flight', Decimal('138'), Decimal('93749203'), Decimal('31000000'), Decimal('64000'), Decimal('76'), Decimal('56.12167506'), Decimal('0')),
 ('Lincoln', Decimal('150'), Decimal('182204440'), Decimal('65000000'), Decimal('71000'), Decimal('82'), Decimal('58.73150424'), Decimal('1')),
 ('The Cabin in the Woods', Decimal('95'), Decimal('42043633'), Decimal('30000000'), Decimal('66000'), Decimal('81'), Decimal('49.51235856'), Decimal('0')),
 ('21 Jump Street', Decimal('109'), Decimal('138447667'), Decimal('42000000'), Decimal('39000'), Decimal('79'), Decimal('61.90263914'), Decimal('0')),
 ('Life of Pi', Decimal('127'), Decimal('124976634'), Decimal('120000000'), Decimal('122000'), Decimal('84'), Decimal('62.84996448'), Decimal('1')),
 ('The Impossible', Decimal('114'), Decimal('18996755'), Decimal('45000000'), Decimal('54000'), Decimal('79'), Decimal('38.2038432'), Decimal('0')),
 ('End of Watch', Decimal('109'), Decimal('40983001'), Decimal('7000000'), Decimal('38000'), Decimal('81'), Decimal('58.36148548'), Decimal('0')),
 ('The Master', Decimal('144'), Decimal('16377274'), Decimal('32000000'), Decimal('27000'), Decimal('79'), Decimal('60.78222074'), Decimal('0')),
 ('Seven Psychopaths', Decimal('110'), Decimal('14989761'), Decimal('15000000'), Decimal('52000'), Decimal('77'), Decimal('83.75'), Decimal('0')),
 ('Brave', Decimal('93'), Decimal('237282182'), Decimal('185000000'), Decimal('39000'), Decimal('75'), Decimal('74.81995252'), Decimal('0')),
 ('Chronicle', Decimal('89'), Decimal('64572496'), Decimal('12000000'), Decimal('32000'), Decimal('78'), Decimal('57.2807397'), Decimal('0')),
 ('ParaNorman', Decimal('92'), Decimal('55994557'), Decimal('60000000'), Decimal('12000'), Decimal('79'), Decimal('58.84642766'), Decimal('0')),
 ('A Royal Affair', Decimal('137'), Decimal('14700000'), Decimal('7791000'), Decimal('32055'), Decimal('83'), Decimal('60.33612095'), Decimal('0')),
 ('Amour', Decimal('127'), Decimal('225377'), Decimal('8900000'), Decimal('33000'), Decimal('86'), Decimal('56.52575758'), Decimal('1')),
 ('The Pirates! Band of Misfits', Decimal('88'), Decimal('31051126'), Decimal('55000000'), Decimal('33661'), Decimal('77'), Decimal('52.08333333'), Decimal('0')),
 ('Safety Not Guaranteed', Decimal('86'), Decimal('4007792'), Decimal('750000'), Decimal('31000'), Decimal('80'), Decimal('57.54093637'), Decimal('0')),
 ('Frankenweenie', Decimal('87'), Decimal('35287788'), Decimal('39000000'), Decimal('25000'), Decimal('79'), Decimal('60.66643057'), Decimal('0')),
 ('Beasts of the Southern Wild', Decimal('93'), Decimal('12784397'), Decimal('1800000'), Decimal('31000'), Decimal('80'), Decimal('54.72745005'), Decimal('1')),
 ('Holy Motors', Decimal('115'), Decimal('4200000'), Decimal('4000000'), Decimal('12000'), Decimal('81'), Decimal('53.21018062'), Decimal('0')),
 ('Arbitrage', Decimal('107'), Decimal('7918283'), Decimal('12000000'), Decimal('15662'), Decimal('76'), Decimal('67.41683766'), Decimal('0')),
 ('The Sessions', Decimal('95'), Decimal('5997134'), Decimal('1000000'), Decimal('11000'), Decimal('83'), Decimal('55.09228141'), Decimal('0')),
 ('Starlet', Decimal('103'), Decimal('88212'), Decimal('46752.36'), Decimal('1724'), Decimal('78'), Decimal('63.08804266'), Decimal('0')),
 ('Robot & Frank', Decimal('89'), Decimal('3325638'), Decimal('2500000'), Decimal('13000'), Decimal('79'), Decimal('54.90635739'), Decimal('0')),
 ('Compliance', Decimal('90'), Decimal('318622'), Decimal('270000'), Decimal('15901'), Decimal('77'), Decimal('57.27628167'), Decimal('0')),
 ('Smashed', Decimal('81'), Decimal('499725'), Decimal('500000'), Decimal('1918'), Decimal('76'), Decimal('63.55165253'), Decimal('0')),
 ('Barbara', Decimal('105'), Decimal('3100000'), Decimal('1643000'), Decimal('771'), Decimal('83'), Decimal('57.02422779'), Decimal('0')),
 ('Farewell, My Queen', Decimal('100'), Decimal('5000000'), Decimal('7500000'), Decimal('593'), Decimal('78'), Decimal('62.21407625'), Decimal('0')),
 ('Middle of Nowhere', Decimal('97'), Decimal('78030'), Decimal('200000'), Decimal('569'), Decimal('76'), Decimal('52.36441166'), Decimal('0')),
 ('Keep the Lights On', Decimal('101'), Decimal('246112'), Decimal('130439.36'), Decimal('15597'), Decimal('77'), Decimal('56.01761784'), Decimal('0')),
 ('Tabu', Decimal('118'), Decimal('0'), Decimal('0'), Decimal('757'), Decimal('81'), Decimal('62.99170668'), Decimal('0')),
 ('Zero Dark Thirty', Decimal('157'), Decimal('132800000'), Decimal('40000000'), Decimal('266092'), Decimal('83'), Decimal('50.47404758'), Decimal('1')),
 ('Les Miserables', Decimal('158'), Decimal('441800000'), Decimal('61000000'), Decimal('20047'), Decimal('72.5'), Decimal('59.4354198'), Decimal('1')),
 ('American Hustle', Decimal('138'), Decimal('150117807'), Decimal('40000000'), Decimal('63000'), Decimal('83'), Decimal('54.0409712'), Decimal('1')),
 ('Captain Phillips', Decimal('134'), Decimal('107100855'), Decimal('55000000'), Decimal('65000'), Decimal('86'), Decimal('57.28277714'), Decimal('1')),
 ('Dallas Buyers Club', Decimal('117'), Decimal('27296514'), Decimal('5000000'), Decimal('65000'), Decimal('87'), Decimal('63.45960399'), Decimal('1')),
 ('Gravity', Decimal('91'), Decimal('274084951'), Decimal('100000000'), Decimal('147000'), Decimal('87'), Decimal('60.44785547'), Decimal('1')),
 ('Her', Decimal('126'), Decimal('25556065'), Decimal('23000000'), Decimal('148000'), Decimal('88'), Decimal('55.59147375'), Decimal('1')),
 ('Nebraska', Decimal('115'), Decimal('17613460'), Decimal('12000000'), Decimal('28000'), Decimal('84'), Decimal('57.86866731'), Decimal('1')),
 ('Philomena', Decimal('98'), Decimal('37707719'), Decimal('12000000'), Decimal('37000'), Decimal('84'), Decimal('56.45874784'), Decimal('1')),
 ('The Wolf of Wall Street', Decimal('240'), Decimal('116866727'), Decimal('100000000'), Decimal('138000'), Decimal('80'), Decimal('67.89370364'), Decimal('1')),
 ('The Conjuring', Decimal('112'), Decimal('137387272'), Decimal('20000000'), Decimal('131000'), Decimal('81'), Decimal('54.10077982'), Decimal('0')),
 ('Prisoners', Decimal('153'), Decimal('60962878'), Decimal('46000000'), Decimal('86000'), Decimal('81'), Decimal('54.76242821'), Decimal('0')),
 ('Star Trek Into Darkness', Decimal('132'), Decimal('228756232'), Decimal('190000000'), Decimal('92000'), Decimal('82'), Decimal('60.88191377'), Decimal('0')),
 ('12 Years a Slave', Decimal('134'), Decimal('56667870'), Decimal('20000000'), Decimal('83000'), Decimal('89'), Decimal('54.23219489'), Decimal('0')),
 ('Frozen', Decimal('102'), Decimal('400736600'), Decimal('150000000'), Decimal('58000'), Decimal('83'), Decimal('52.91028845'), Decimal('0')),
 ('Rush', Decimal('123'), Decimal('26903709'), Decimal('38000000'), Decimal('83000'), Decimal('85'), Decimal('55.30984758'), Decimal('0')),
 ('Warm Bodies', Decimal('98'), Decimal('66359959'), Decimal('35000000'), Decimal('81000'), Decimal('75'), Decimal('67.26466962'), Decimal('0')),
 ('The Hunger Games: Catching Fire', Decimal('146'), Decimal('424645577'), Decimal('130000000'), Decimal('82000'), Decimal('83'), Decimal('71.33208297'), Decimal('0')),
 ("The World's End", Decimal('109'), Decimal('26003149'), Decimal('20000000'), Decimal('49000'), Decimal('80'), Decimal('85.73700643'), Decimal('0')),
 ('Don Jon', Decimal('90'), Decimal('24475193'), Decimal('3000000'), Decimal('33000'), Decimal('74'), Decimal('54.29938209'), Decimal('0')),
 ('The Spectacular Now', Decimal('95'), Decimal('6851969'), Decimal('2500000'), Decimal('10000'), Decimal('82'), Decimal('68.6532299'), Decimal('0')),
 ('Inside Llewyn Davis', Decimal('104'), Decimal('13214255'), Decimal('11000000'), Decimal('26000'), Decimal('84'), Decimal('58.19408991'), Decimal('0')),
 ('Saving Mr. Banks', Decimal('125'), Decimal('83299761'), Decimal('35000000'), Decimal('39000'), Decimal('77'), Decimal('60.67656553'), Decimal('0')),
 ('Side Effects', Decimal('106'), Decimal('32154410'), Decimal('30000000'), Decimal('29000'), Decimal('77'), Decimal('52.1513628'), Decimal('0')),
 ('Blue Jasmine', Decimal('98'), Decimal('33404871'), Decimal('18000000'), Decimal('36000'), Decimal('82'), Decimal('53.01762454'), Decimal('0')),
 ('The Way Way Back', Decimal('103'), Decimal('21501098'), Decimal('5000000'), Decimal('22000'), Decimal('80'), Decimal('52.77938499'), Decimal('0')),
 ('Short Term 12', Decimal('96'), Decimal('1013100'), Decimal('536943'), Decimal('50268'), Decimal('90'), Decimal('53.25512969'), Decimal('0')),
 ('Before Midnight', Decimal('109'), Decimal('8114507'), Decimal('3000000'), Decimal('62000'), Decimal('89'), Decimal('60.08540168'), Decimal('0')),
 ('We Are What We Are', Decimal('100'), Decimal('81381'), Decimal('43131.93'), Decimal('66089'), Decimal('72'), Decimal('61.12506185'), Decimal('0')),
 ('Fruitvale Station', Decimal('85'), Decimal('16097842'), Decimal('900000'), Decimal('17000'), Decimal('85'), Decimal('51.60371855'), Decimal('0')),
 ('Upstream Color', Decimal('96'), Decimal('444098'), Decimal('235371.94'), Decimal('14644'), Decimal('77'), Decimal('57.32540608'), Decimal('0')),
 ('Drinking Buddies', Decimal('90'), Decimal('342936'), Decimal('181756.08'), Decimal('41290'), Decimal('72'), Decimal('61.59679036'), Decimal('0')),
 ('All Is Lost', Decimal('106'), Decimal('6262942'), Decimal('9000000'), Decimal('18000'), Decimal('82'), Decimal('51.0566161'), Decimal('0')),
 ('Enough Said', Decimal('93'), Decimal('17536788'), Decimal('8000000'), Decimal('12000'), Decimal('84'), Decimal('51.26351477'), Decimal('0')),
 ('Le pass', Decimal('130'), Decimal('1330596'), Decimal('705215.88'), Decimal('2982'), Decimal('86'), Decimal('49.88050302'), Decimal('0')),
 ('In a World...', Decimal('93'), Decimal('2963902'), Decimal('1570868.06'), Decimal('6065'), Decimal('80'), Decimal('58.74566863'), Decimal('0')),
 ('Computer Chess', Decimal('92'), Decimal('102041'), Decimal('54081.73'), Decimal('727'), Decimal('75'), Decimal('52.07474081'), Decimal('0')),
 ('The Selfish Giant', Decimal('75'), Decimal('12189'), Decimal('6460.17'), Decimal('4679'), Decimal('85'), Decimal('42.54741693'), Decimal('0')),
 ('American Sniper', Decimal('132'), Decimal('547400000'), Decimal('580000000'), Decimal('2387575'), Decimal('72.5'), Decimal('54.59065907'), Decimal('1')),
 ('Boyhood', Decimal('165'), Decimal('25359200'), Decimal('4000000'), Decimal('92000'), Decimal('89'), Decimal('59.44056974'), Decimal('1')),
 ('The Grand Budapest Hotel', Decimal('99'), Decimal('59073773'), Decimal('25000000'), Decimal('149000'), Decimal('87'), Decimal('69.56698193'), Decimal('1')),
 ('The Imitation Game', Decimal('114'), Decimal('91121452'), Decimal('14000000'), Decimal('165000'), Decimal('86'), Decimal('45.05187845'), Decimal('1')),
 ('Selma', Decimal('128'), Decimal('66787908'), Decimal('20000000'), Decimal('290466'), Decimal('87'), Decimal('56.62954576'), Decimal('1')),
 ('Birdman', Decimal('119'), Decimal('103215094'), Decimal('18000000'), Decimal('340726'), Decimal('84.5'), Decimal('58.78968939'), Decimal('1')),
 ('The Theory of Everything', Decimal('123'), Decimal('123700000'), Decimal('15000000'), Decimal('732313'), Decimal('78'), Decimal('58.85583937'), Decimal('1')),
 ('Whiplash', Decimal('107'), Decimal('13092000'), Decimal('3300000'), Decimal('129000'), Decimal('90'), Decimal('55.14749086'), Decimal('1')),
 ('Guardians of the Galaxy', Decimal('121'), Decimal('333130696'), Decimal('170000000'), Decimal('96000'), Decimal('86'), Decimal('61.78771791'), Decimal('0')),
 ('Gone Girl', Decimal('149'), Decimal('167735396'), Decimal('61000000'), Decimal('146000'), Decimal('85'), Decimal('53.32570212'), Decimal('0')),
 ('The Babadook', Decimal('92'), Decimal('964413'), Decimal('511138.89'), Decimal('22715'), Decimal('83'), Decimal('52.30655515'), Decimal('0')),
 ('John Wick', Decimal('101'), Decimal('42996986'), Decimal('22788402.58'), Decimal('680122'), Decimal('79'), Decimal('59.79562333'), Decimal('0')),
 ('X-Men: Days of Future Past', Decimal('149'), Decimal('233914986'), Decimal('200000000'), Decimal('82000'), Decimal('86'), Decimal('48.64534795'), Decimal('0')),
 ('Captain America: The Winter Soldier', Decimal('136'), Decimal('259746958'), Decimal('170000000'), Decimal('55000'), Decimal('84'), Decimal('61.65805814'), Decimal('0')),
 ('Nightcrawler', Decimal('117'), Decimal('32279955'), Decimal('8500000'), Decimal('65000'), Decimal('87'), Decimal('57.15720241'), Decimal('0')),
 ('The Guest', Decimal('99'), Decimal('332890'), Decimal('176431.7'), Decimal('40382'), Decimal('79'), Decimal('63.55803571'), Decimal('0')),
 ('Big Hero 6', Decimal('102'), Decimal('222487711'), Decimal('165000000'), Decimal('41000'), Decimal('84'), Decimal('60.407743'), Decimal('0')),
 ('A Girl Walks Home Alone at Night', Decimal('99'), Decimal('491910'), Decimal('260712.3'), Decimal('12226'), Decimal('83'), Decimal('51.8296131'), Decimal('0')),
 ('Chef', Decimal('115'), Decimal('31424003'), Decimal('16654721.59'), Decimal('20386'), Decimal('80'), Decimal('59.39117888'), Decimal('0')),
 ('22 Jump Street', Decimal('112'), Decimal('191616238'), Decimal('50000000'), Decimal('24000'), Decimal('78'), Decimal('61.46098682'), Decimal('0')),
 ('Wild', Decimal('115'), Decimal('37877959'), Decimal('15000000'), Decimal('38000'), Decimal('81'), Decimal('55.71643149'), Decimal('0')),
 ('How to Train Your Dragon 2', Decimal('102'), Decimal('176997107'), Decimal('145000000'), Decimal('46000'), Decimal('86'), Decimal('65.81875509'), Decimal('0')),
 ('The Drop', Decimal('106'), Decimal('10720322'), Decimal('5681770.66'), Decimal('60491'), Decimal('80'), Decimal('54.62409308'), Decimal('0')),
 ('Foxcatcher', Decimal('134'), Decimal('12096300'), Decimal('6411039'), Decimal('75973'), Decimal('79'), Decimal('61.05163084'), Decimal('0')),
 ('A Most Wanted Man', Decimal('122'), Decimal('17237244'), Decimal('15000000'), Decimal('13000'), Decimal('78'), Decimal('66.30952831'), Decimal('0')),
 ('Pride', Decimal('120'), Decimal('1446634'), Decimal('766716.02'), Decimal('24196'), Decimal('85'), Decimal('53.79754085'), Decimal('0')),
 ('Frank', Decimal('95'), Decimal('644906'), Decimal('341800.18'), Decimal('15614'), Decimal('81'), Decimal('57.2708604'), Decimal('0')),
 ('Calvary', Decimal('100'), Decimal('3600006'), Decimal('1908003.18'), Decimal('21776'), Decimal('82'), Decimal('58.80649244'), Decimal('0')),
 ('Top Five', Decimal('102'), Decimal('25277561'), Decimal('12000000'), Decimal('405493'), Decimal('76'), Decimal('65.5955095'), Decimal('0')),
 ('Cold in July', Decimal('100'), Decimal('427418'), Decimal('226531.54'), Decimal('2937'), Decimal('77'), Decimal('41.24155712'), Decimal('0')),
 ('Leviathan', Decimal('140'), Decimal('1092800'), Decimal('579184'), Decimal('1713'), Decimal('88'), Decimal('56.78400927'), Decimal('0')),
 ('The Good Lie', Decimal('110'), Decimal('2722209'), Decimal('1442770.77'), Decimal('55186'), Decimal('81'), Decimal('67.0627552'), Decimal('0')),
 ('Mr. Turner', Decimal('150'), Decimal('3958500'), Decimal('8200000'), Decimal('2129'), Decimal('83'), Decimal('58.19225219'), Decimal('0')),
 ('The Skeleton Twins', Decimal('93'), Decimal('5283379'), Decimal('2800190.87'), Decimal('41865'), Decimal('77'), Decimal('63.91680283'), Decimal('0')),
 ('Dear White People', Decimal('100'), Decimal('4404154'), Decimal('2334201.62'), Decimal('384995'), Decimal('77'), Decimal('51.54675981'), Decimal('0')),
 ('Obvious Child', Decimal('84'), Decimal('3122616'), Decimal('1654986.48'), Decimal('54119'), Decimal('79'), Decimal('52.62266707'), Decimal('0')),
 ('Love Is Strange', Decimal('94'), Decimal('2252580'), Decimal('1193867.4'), Decimal('5829'), Decimal('81'), Decimal('66.57809766'), Decimal('0')),
 ('Gloria', Decimal('110'), Decimal('2106556'), Decimal('1116474.68'), Decimal('450'), Decimal('82'), Decimal('57.38438775'), Decimal('0'))]

Now exporting the final train table to a csv file inorder to model this data in R

In [53]:
%%sql

COPY (SELECT f.movie_name,f.duration,f.gross,f.budget,f.facebook_likes,f.average_rating,t.sentiment_score,t.nominated
FROM final_train f JOIN twitter_train t ON
TRIM(f.movie_name)=TRIM(t.movie_name)) TO '/home/rithvik/prog/finalproj/movie_train.csv' CSV HEADER

117 rows affected.

[]

### SQL Querries to create final validation set with adding on Twitter sentiment results.

In [54]:
%%sql

DROP TABLE IF EXISTS twitter_val;
CREATE TABLE twitter_val(
movie_name VARCHAR (200),
sentiment_score NUMERIC,
nominated NUMERIC);

Done.
Done.

[]

In [55]:
%%sql

COPY twitter_val FROM '/home/rithvik/prog/finalproj/twitter_val.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

38 rows affected.

[]

Now we join the final validation data which contains the attributes like duration,gross,budget, facebook likes and average rating with the twitter data which contains twitter sentiment score and whether the movie is nominated or not

In [56]:
%%sql

SELECT f.movie_name,f.duration,f.gross,f.budget,f.facebook_likes,f.average_rating,t.sentiment_score,t.nominated
FROM final_val f JOIN twitter_val t ON
TRIM(f.movie_name)=TRIM(t.movie_name);

38 rows affected.

[('45 Years', Decimal('95'), Decimal('4247285'), Decimal('2293533.9'), Decimal('9230'), Decimal('84'), Decimal('57.03088601'), Decimal('0')),
 ('Anomalisa', Decimal('90'), Decimal('3442820'), Decimal('8000000'), Decimal('59656'), Decimal('83'), Decimal('58.37523624'), Decimal('0')),
 ('Ant-Man', Decimal('117'), Decimal('180191634'), Decimal('130000000'), Decimal('61000'), Decimal('78'), Decimal('54.77787006'), Decimal('0')),
 ('Beasts of No Nation', Decimal('133'), Decimal('90777'), Decimal('49019.58'), Decimal('20478'), Decimal('85'), Decimal('58.24180811'), Decimal('0')),
 ('Bone Tomahawk', Decimal('133'), Decimal('232813'), Decimal('1800000'), Decimal('11133'), Decimal('81'), Decimal('53.95261683'), Decimal('0')),
 ('Bridge Of Spies', Decimal('142'), Decimal('72306065'), Decimal('40000000'), Decimal('55000'), Decimal('84'), Decimal('67.99332054'), Decimal('1')),
 ('Brooklyn', Decimal('111'), Decimal('38317535'), Decimal('11000000'), Decimal('36000'), Decimal('86'), Decimal('62.12217283'), Decimal('1')),
 ('Carol', Decimal('118'), Decimal('12711491'), Decimal('6864205.14'), Decimal('23427'), Decimal('83'), Decimal('61.37559883'), Decimal('0')),
 ('Creed', Decimal('133'), Decimal('109712885'), Decimal('35000000'), Decimal('70000'), Decimal('86'), Decimal('56.30384701'), Decimal('0')),
 ('Dope', Decimal('103'), Decimal('17474107'), Decimal('7000000'), Decimal('23000'), Decimal('81'), Decimal('56.5625091'), Decimal('0')),
 ('Ex Machina', Decimal('108'), Decimal('25440971'), Decimal('15000000'), Decimal('109000'), Decimal('85'), Decimal('56.30243303'), Decimal('0')),
 ('Grandma', Decimal('68'), Decimal('6980524'), Decimal('3769482.96'), Decimal('3484'), Decimal('80'), Decimal('59.78949092'), Decimal('0')),
 ("I'll See You in My Dreams", Decimal('92'), Decimal('7449681'), Decimal('4022827.74'), Decimal('2065'), Decimal('80'), Decimal('36.75666512'), Decimal('0')),
 ('Inside Out', Decimal('95'), Decimal('356454367'), Decimal('175000000'), Decimal('118000'), Decimal('90'), Decimal('62.08739361'), Decimal('0')),
 ('James White', Decimal('85'), Decimal('101368'), Decimal('54738.72'), Decimal('3978'), Decimal('81'), Decimal('54.10136515'), Decimal('0')),
 ('Mad Max: Fury Road', Decimal('120'), Decimal('153629485'), Decimal('150000000'), Decimal('191000'), Decimal('89'), Decimal('34.96527702'), Decimal('1')),
 ('Mississippi Grind', Decimal('108'), Decimal('130541'), Decimal('70492.14'), Decimal('2735'), Decimal('76'), Decimal('46.30793226'), Decimal('0')),
 ('Mr. Holmes', Decimal('113'), Decimal('17737646'), Decimal('9578328.84'), Decimal('123512'), Decimal('79'), Decimal('58.64948393'), Decimal('0')),
 ('Mustang', Decimal('97'), Decimal('845464'), Decimal('456550.56'), Decimal('30320'), Decimal('88'), Decimal('57.54210969'), Decimal('0')),
 ('Queen of Earth', Decimal('90'), Decimal('78353'), Decimal('42310.62'), Decimal('488'), Decimal('78'), Decimal('64.17666757'), Decimal('0')),
 ('Room', Decimal('118'), Decimal('14677654'), Decimal('13000000'), Decimal('72000'), Decimal('88'), Decimal('54.60564298'), Decimal('1')),
 ('Selma', Decimal('128'), Decimal('66787908'), Decimal('20000000'), Decimal('290466'), Decimal('87'), Decimal('56.62954576'), Decimal('1')),
 ('Sicario', Decimal('121'), Decimal('46875468'), Decimal('30000000'), Decimal('59000'), Decimal('85'), Decimal('63.60108817'), Decimal('0')),
 ('Slow West', Decimal('84'), Decimal('229094'), Decimal('123710.76'), Decimal('4828'), Decimal('81'), Decimal('42.89902139'), Decimal('0')),
 ('Spotlight', Decimal('128'), Decimal('44988180'), Decimal('20000000'), Decimal('80000'), Decimal('89'), Decimal('57.60311598'), Decimal('1')),
 ('Spy', Decimal('120'), Decimal('110825712'), Decimal('59845884.48'), Decimal('335895'), Decimal('83'), Decimal('58.28745558'), Decimal('0')),
 ('Steve Jobs', Decimal('122'), Decimal('17750583'), Decimal('30000000'), Decimal('23000'), Decimal('79'), Decimal('56.5293266'), Decimal('0')),
 ('Straight Outta Compton', Decimal('167'), Decimal('161029270'), Decimal('28000000'), Decimal('76000'), Decimal('83'), Decimal('58.97711754'), Decimal('0')),
 ('Tangerine', Decimal('88'), Decimal('701837'), Decimal('378991.98'), Decimal('20751'), Decimal('84'), Decimal('58.31851585'), Decimal('0')),
 ('The Big Short', Decimal('130'), Decimal('70235322'), Decimal('28000000'), Decimal('99000'), Decimal('83'), Decimal('52.52871167'), Decimal('1')),
 ('The Forbidden Room', Decimal('130'), Decimal('34404'), Decimal('18578.16'), Decimal('1118'), Decimal('79'), Decimal('56.89797566'), Decimal('0')),
 ('The Gift', Decimal('108'), Decimal('43771291'), Decimal('5000000'), Decimal('15000'), Decimal('82'), Decimal('70.48633717'), Decimal('0')),
 ('The Martian', Decimal('151'), Decimal('228430993'), Decimal('108000000'), Decimal('153000'), Decimal('86'), Decimal('56.22322593'), Decimal('1')),
 ('The Peanuts Movie', Decimal('88'), Decimal('130174897'), Decimal('99000000'), Decimal('33000'), Decimal('79'), Decimal('71.31311314'), Decimal('0')),
 ('The Revenant', Decimal('156'), Decimal('183635922'), Decimal('135000000'), Decimal('190000'), Decimal('81'), Decimal('52.51451159'), Decimal('1')),
 ('The Walk', Decimal('123'), Decimal('10137502'), Decimal('35000000'), Decimal('24000'), Decimal('79'), Decimal('56.9600884'), Decimal('0')),
 ('Trainwreck', Decimal('129'), Decimal('110008260'), Decimal('35000000'), Decimal('25000'), Decimal('74'), Decimal('46.15700417'), Decimal('0')),
 ('We Are Still Here', Decimal('84'), Decimal('18970'), Decimal('10243.8'), Decimal('3748'), Decimal('76'), Decimal('62.21169535'), Decimal('0'))]

Now exporting the final validation table to a csv file inorder to model this data in R

In [57]:
%%sql

COPY(SELECT f.movie_name,f.duration,f.gross,f.budget,f.facebook_likes,f.average_rating,t.sentiment_score,t.nominated
FROM final_val f JOIN twitter_val t ON
TRIM(f.movie_name)=TRIM(t.movie_name)) TO '/home/rithvik/prog/finalproj/movie_val.csv' CSV HEADER

38 rows affected.

[]

### SQL Querries to create final test set with adding on Twitter sentiment results.

In [58]:
%%sql

DROP TABLE IF EXISTS twitter_test;
CREATE TABLE twitter_test(
movie_name VARCHAR (200),
sentiment_score NUMERIC,
nominated NUMERIC);

Done.
Done.

[]

In [59]:
%%sql

COPY twitter_test FROM '/home/rithvik/prog/finalproj/twitter_test.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

41 rows affected.

[]

Now we join the final test data which contains the attributes like duration,gross,budget, facebook likes and average rating with the twitter data which contains twitter sentiment score and whether the movie is nominated or not

In [60]:
%%sql

SELECT f.movie_name,f.duration,f.gross,f.budget,f.facebook_likes,f.average_rating,t.sentiment_score,t.nominated
FROM final_test f JOIN twitter_test t ON
TRIM(f.movie_name)=TRIM(t.movie_name);

41 rows affected.

[('10 Cloverfield Lane', Decimal('104'), Decimal('71897215'), Decimal('15000000'), Decimal('33000'), Decimal('82'), Decimal('60.06914744'), None),
 ('Aquarius', Decimal('142'), Decimal('274515'), Decimal('738018'), Decimal('110875'), Decimal('88'), Decimal('60.09647545'), None),
 ('Arrival', Decimal('114'), Decimal('43370799'), Decimal('47000000'), Decimal('70837'), Decimal('89'), Decimal('60.01716141'), None),
 ('Barbershop: The Next Cut', Decimal('118'), Decimal('54030051'), Decimal('12000000'), Decimal('15872'), Decimal('75'), Decimal('54.37470862'), None),
 ('Blood Father', Decimal('88'), Decimal('1800000'), None, Decimal('86'), Decimal('77'), Decimal('56.45637608'), None),
 ('Captain America: Civil War', Decimal('147'), Decimal('407197282'), Decimal('250000000'), Decimal('72000'), Decimal('85'), Decimal('65.9582002'), None),
 ('Certain Women', Decimal('107'), Decimal('1011020'), Decimal('2000000'), Decimal('204'), Decimal('78'), Decimal('58.83114954'), None),
 ('Deadpool', Decimal('108'), Decimal('363024263'), Decimal('58000000'), Decimal('117000'), Decimal('83'), Decimal('61.05579707'), None),
 ('Deepwater Horizon', Decimal('107'), Decimal('60851661'), Decimal('58000000'), Decimal('200546'), Decimal('79'), Decimal('73.03062299'), None),
 ('Doctor Strange', Decimal('115'), Decimal('181542877'), Decimal('165000000'), Decimal('869520'), Decimal('85'), Decimal('54.12070495'), None),
 ("Don't Breathe", Decimal('78'), Decimal('89059699'), Decimal('9900000'), Decimal('352967'), Decimal('80'), Decimal('51.26170955'), None),
 ("Don't Think Twice", Decimal('92'), Decimal('4404271'), Decimal('4400000'), Decimal('23050'), Decimal('86'), Decimal('57.34665806'), None),
 ('Elle', Decimal('130'), Decimal('214787'), Decimal('9100000'), Decimal('1363'), Decimal('83'), Decimal('60.29487734'), None),
 ('Everybody Wants Some', Decimal('117'), Decimal('3400278'), Decimal('10000000'), Decimal('74230'), Decimal('79'), Decimal('58.29870454'), None),
 ('Finding Dory', Decimal('103'), Decimal('486200416'), Decimal('200000000'), Decimal('3060759'), Decimal('85'), Decimal('72.29900081'), None),
 ('Florence Foster Jenkins', Decimal('110'), Decimal('27383770'), Decimal('29000000'), Decimal('34895'), Decimal('79'), Decimal('57.03649756'), None),
 ('Hacksaw Ridge', Decimal('131'), Decimal('42854292'), Decimal('40000000'), Decimal('164962'), Decimal('87'), Decimal('68.07830703'), None),
 ('Hail, Caesar', Decimal('106'), Decimal('29997095'), Decimal('22000000'), Decimal('23000'), Decimal('75'), Decimal('59.5635188'), None),
 ('Hell or High Water', Decimal('102'), Decimal('27007844'), Decimal('12000000'), Decimal('68720'), Decimal('89'), Decimal('62.17256939'), None),
 ('Hunt for the Wilderpeople', Decimal('101'), Decimal('5205468'), Decimal('2500000'), Decimal('80572'), Decimal('89'), Decimal('67.59755817'), None),
 ('I, Daniel Blake', Decimal('100'), Decimal('7500000'), None, Decimal('48536'), Decimal('86'), Decimal('61.94248265'), None),
 ('Kubo and the Two Strings', Decimal('101'), Decimal('47919782'), Decimal('60000000'), Decimal('196434'), Decimal('89'), Decimal('64.65887225'), None),
 ('Kung Fu Panda 3', Decimal('95'), Decimal('143523463'), Decimal('145000000'), Decimal('24000'), Decimal('80'), Decimal('59.83586705'), None),
 ('La La Land', Decimal('128'), Decimal('0'), Decimal('20000000'), Decimal('43784'), Decimal('91'), Decimal('59.40847885'), None),
 ('Little Men', Decimal('85'), Decimal('700452'), Decimal('2000000'), Decimal('2741'), Decimal('85'), Decimal('52.66088265'), None),
 ('Love & Friendship', Decimal('92'), Decimal('14016568'), Decimal('3000000'), Decimal('41512'), Decimal('82'), Decimal('69.71993403'), None),
 ('Loving', Decimal('123'), Decimal('1737088'), None, Decimal('190658'), Decimal('79'), Decimal('68.80208262'), None),
 ('Manchester by the Sea', Decimal('135'), Decimal('241230'), Decimal('241230'), Decimal('26157'), Decimal('92'), Decimal('61.14587675'), None),
 ('Midnight Special', Decimal('112'), Decimal('3707794'), Decimal('18000000'), Decimal('25759'), Decimal('76'), Decimal('66.26470125'), None),
 ('Moonlight', Decimal('110'), Decimal('6739483'), Decimal('5000000'), Decimal('110164'), Decimal('93'), Decimal('62.0365464'), None),
 ('Morris from America', Decimal('89'), Decimal('91151'), None, Decimal('13456'), Decimal('75'), Decimal('63.38508566'), None),
 ("Pete's Dragon", Decimal('102'), Decimal('75960505'), Decimal('65000000'), Decimal('21000'), Decimal('79'), Decimal('50.71750952'), None),
 ('Queen of Katwe', Decimal('124'), Decimal('8713498'), Decimal('15000000'), Decimal('88021'), Decimal('83'), Decimal('58.16311217'), None),
 ('Sing Street', Decimal('105'), Decimal('3237118'), None, Decimal('41353'), Decimal('89'), Decimal('63.85185864'), None),
 ('Star Trek Beyond', Decimal('122'), Decimal('130468626'), Decimal('185000000'), Decimal('30000'), Decimal('78'), Decimal('70.43799869'), None),
 ('Sully', Decimal('96'), Decimal('123947237'), Decimal('60000000'), Decimal('198657'), Decimal('81'), Decimal('55.6763154'), None),
 ('The Innocents', Decimal('115'), Decimal('1065665'), Decimal('1060000'), Decimal('5891'), Decimal('85'), Decimal('49.13102754'), None),
 ('The Jungle Book', Decimal('106'), Decimal('362645141'), Decimal('175000000'), Decimal('65000'), Decimal('86'), Decimal('58.94206691'), None),
 ('The Nice Guys', Decimal('116'), Decimal('36261763'), Decimal('50000000'), Decimal('100474'), Decimal('83'), Decimal('67.06494558'), None),
 ('The Wailing', Decimal('156'), Decimal('770629'), None, Decimal('10091'), Decimal('87'), Decimal('54.49656009'), None),
 ('Zootopia', Decimal('108'), Decimal('341268248'), Decimal('150000000'), Decimal('1126087'), Decimal('90'), Decimal('61.5677067'), None)]

Now exporting the final test table to a csv file inorder to model this data in R

In [61]:
%%sql

COPY(SELECT f.movie_name,f.duration,f.gross,f.budget,f.facebook_likes,f.average_rating,t.sentiment_score,t.nominated
FROM final_test f JOIN twitter_test t ON
TRIM(f.movie_name)=TRIM(t.movie_name)) TO '/home/rithvik/prog/finalproj/movie_test.csv' CSV HEADER

41 rows affected.

[]

# After sucessfully creating the training,validation and test datasets using Python and SQL, we proceed to R inorder to model our data.

# We created a shiny app for initial data exploration.
# Then we performed the Logistics Regression.
# Built a Shiny app to visualize the outputs of Logistic Regression.